<template>
  <div class="mainmenu" :class="{'is-active': isActive}">
    <div class="overlay" :class="{'is-active': isActive}">

    </div>
    <div class="mainmenu__wrap">

      <div class="mainmenu__controls">
        <button class="caret-left-button" :class="{'is-active': isFaqsOpen}" @click="exit()">
          <CaretLeftIcon class="caret-left-button-icon"/>
        </button>
        <button class="faq-button" :class="{'is-active': isFaqsOpen}" @click="toggleFaqs()">
          <QuestionMarkIcon class="faq-button-icon" />
        </button>
      </div>

      <div class="menu-entries">
        <div class="mainmenu__models">
          <div
            v-for="(model, i) in models"
            :key="i"
            class="mainmenu__model"
            :class="{'is-selected': model.id === selectedModel.id}"
            @click="selectModel(model)">
            {{model.name}}
          </div>
        </div>

        <div class="views-container">
          <div class="mainmenu__views">
            <div
              class="mainmenu__view"
              v-for="(view, i) in views"
              :key="i"
              @click="goToView(view)">
              <span class="name">{{view.name}}</span>
              <span
                class="status"
                :class="{'is-seen': isComponentSeen(view.contentname)}"></span>
            </div>
          </div>
        </div>

      </div>

      <div class="mainmenu__photo" >
        <div class="photo-button" @click="goToTakePhoto()">
          <CameraButton />
          <div>Take a photo</div>
        </div>
      </div>

      <div class="mainmenu__bottom">
        <div class="mainmenu__external-link">
          <button
            @click="openExternalLink"
            class="button button--wide">Register your interest</button>
        </div>
        <div class="mainmenu__legal-terms" >
          <span @click="navigateToPrivacyPolicy">Privacy policy</span>
        </div>
      </div>

      <div class="mainmenu__faqs-wrap" :class="{'is-active': isFaqsOpen}">
        <div class="mainmenu__faqs-select">
          <div
            @click="switchToPhevTab"
            :class="{'is-active': selectedFaq === 'phev'}">PHEV FAQ</div>
          <div
            @click="switchToHelpTab"
            :class="{'is-active': selectedFaq === 'support'}">HELP</div>
        </div>

        <div class="mainmenu__faqs" v-if="selectedFaq === 'phev'">
          <div class="mainmenu__faq" v-for="(faq, i) in faqs" :key="i">
            <div class="question">{{faq.question}}</div>
            <div class="answer" v-html="faq.answer"></div>
          </div>
        </div>

        <div class="mainmenu__faqs" v-if="selectedFaq === 'support'">
          <div class="mainmenu__faq" v-for="(faq, i) in support" :key="i">
            <div class="question">{{faq.question}}</div>
            <div class="answer" v-html="faq.answer"></div>
          </div>
        </div>

      </div>

    </div>
  </div>
</template>

<script>
import Bus from '@/store/bus/Bus';
import {
  models, faqs, support, registerInterestExternalLink,
} from '@/constants';
import ComponentMixin from '@/components/ComponentMixin.vue';
import CameraButton from '../icons/CameraButton.vue';
import CaretLeftIcon from '../icons/CaretLeftIcon.vue';
import QuestionMarkIcon from '../icons/QuestionMarkIcon.vue';

export default {
  components: { CaretLeftIcon, QuestionMarkIcon, CameraButton },
  name: 'MainMenuComponent',
  extends: ComponentMixin,
  data() {
    return {
      models,
      faqs,
      support,
      isFaqsOpen: false,
      selectedFaq: 'phev',
      views: [{
        name: 'Power Modes',
        component: 'BottomMenuComponent',
        subcomponent: 'BottomMenuXRay',
        contentname: 'BottomMenuXRay',
        dispatches: [
          {
            event: 'setXRayNeedsConfirmation',
            value: false,
          },
        ],
      }, {
        name: 'Range',
        component: 'BottomMenuComponent',
        subcomponent: 'BottomMenuRange',
        contentname: 'BottomMenuRange',
        dispatches: [
          {
            event: 'JourneyState/launchModelDependentEvent',
            value: 'rangeStarter',
          },
        ],
      }, {
        name: 'Charging Network',
        component: 'BottomMenuComponent',
        subcomponent: 'BottomMenuCharging',
        contentname: 'BottomMenuCharging',
        dispatches: [
          {
            event: 'JourneyState/launchModelDependentEvent',
            value: 'chargingStarter',
          },
        ],
      }, {
        name: 'Value',
        component: 'BottomMenuComponent',
        subcomponent: 'BottomMenuSavings',
        contentname: 'BottomMenuSavings',
        dispatches: [
          {
            event: 'setSavingsNeedsConfirmation',
            value: false,
          },
        ],
      }, {
        name: 'BMW Technology',
        contentname: 'BMWTechnology',
        dispatches: [
          {
            event: 'JourneyState/technologyStartTrigger',
          },
        ],
      }],
    };
  },
  mounted() {
    Bus.$on('inactiveMainMenuComponent', () => {
      setTimeout(() => {
        this.$store.dispatch('disableComponent', 'MainMenuComponent');
      }, 300);
    });
    this.$store.dispatch('stopCurrentInteraction');
  },
  computed: {
    selectedModel() {
      return this.$store.getters.getSelectedModel;
    },
    seenContents() {
      return this.$store.getters.getSeenContents;
    },
  },
  methods: {
    selectModel(model) {
      // this.$store.dispatch('launchEvent', model.event);
      this.$store.dispatch('setSelectedModel', model);
      this.$store.dispatch('setViewByName', 'main-view');
      this.exit();
    },
    toggleFaqs() {
      this.$store.dispatch('analyticsEventHit', {
        category: 'MENU', action: 'Click', event: 'Open Menu', label: 'Menu Open',
      });
      this.isFaqsOpen = !this.isFaqsOpen;
    },
    goToView(v) {
      this.isActive = false;
      setTimeout(() => {
        this.exit();
        if (v.component) {
          if (v.subcomponent) {
            this.$store.dispatch('setComponentContent', {
              component: v.component,
              content: v.subcomponent,
            });
          }
          this.$store.dispatch('enableComponent', v.component);
        }
        if (v.dispatches) {
          v.dispatches.forEach((d) => {
            this.$store.dispatch(d.event, d.value);
          });
        }
      }, 250);
    },
    goToTakePhoto() {
      this.exit();
      this.$store.dispatch('enableComponent', 'TakePhoto');
    },
    isComponentSeen(name) {
      return this.seenContents.indexOf(name) > -1;
    },
    switchToPhevTab() {
      this.selectedFaq = 'phev';
      this.$store.dispatch('analyticsEventHit', {
        category: 'MENU', action: 'Click', event: 'Select Category', label: 'Phev FAQ',
      });
    },
    switchToHelpTab() {
      this.selectedFaq = 'support';
      this.$store.dispatch('analyticsEventHit', {
        category: 'MENU', action: 'Click', event: 'Select Category', label: 'Help',
      });
    },
    navigateToPrivacyPolicy() {
      const newWindow = window.open('/cookie_policy', '_blank');
      newWindow.focus();
    },
    openExternalLink() {
      const newWindow = window.open(registerInterestExternalLink.url, '_blank');
      newWindow.focus();
    },
    exit() {
      if (this.isFaqsOpen) {
        this.$store.dispatch('analyticsEventHit', {
          category: 'MENU', action: 'Click', event: 'Click Back', label: 'Back',
        });
        this.isFaqsOpen = false;
      } else {
        Bus.$emit('inactiveMainMenuComponent');
      }
    },
  },
};
</script>

<style lang="scss" scoped>
$max-width: 380px;

.mainmenu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(38, 42, 47, 0.9);
  color: white;
  transition: top 250ms ease-in-out;
  z-index: 9999999999;
  &.is-active {
    top: 0;
  }

  .overlay {
    z-index: 99999999999;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0ms linear;

    &.is-active {
      transform: scaleX(0);
      transition: transform 0ms linear 250ms;
    }
  }

  &__wrap {
    padding: 28px 26px 40px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
  }

  &__controls {
    position: relative;
    z-index: 9;
    display: flex;
    justify-content: space-between;
    button {
      background: #1d1d1d;
      border: 0;
      width: 45px;
      height: 45px;
      border-radius: 100%;
    }
    .caret-left-button {
      transition: background-color 250ms ease;

      .caret-left-button-icon {
        position: absolute;
        width: 22px;
        height: 19px;
        top: 13px;
        left: 11px;
        color: white;
      }

      &.is-active {
        background-color: #1c69d4;
      }
    }
    .faq-button {
      transition: opacity 250ms ease;

      .faq-button-icon {
        position: absolute;
        width: 24px;
        height: 43px;
        right: 10px;
        top: 2px;
      }

      &.is-active {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .menu-entries {
    flex: 11;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
  }
  &__models {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
  }
  &__model {
    border-bottom: 1px solid white;
    padding: 0 2px;
    font-size: 7vw;
    font-weight: 100;
    flex: 1 1 auto;
    text-align: center;
    &:first-child {
      text-align: left;
      padding-left: 0;
    }
    &:last-child {
      text-align: right;
      padding-right: 0;
    }
    &.is-selected {
      border-bottom-color: #1c69d4;
    }
  }
  .views-container {
    padding-top: 16px;
  }
  &__views {
    flex: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
  }
  &__view {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: 100;

    .status {
      border: 1px solid white;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      display: block;
      margin-top: 14px;
      margin-left: 8px;
      &.is-seen {
        background: white;
      }
    }
  }

  &__photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 auto;
    text-align: center;
    font-size: 14px;

    .photo-button {
      padding: 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 auto;
    text-align: center;
  }

  &__external-link {
    max-width: 350px;
    margin: 20px 0px;

    > button {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__legal-terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 12px;

    span {
      color: #78797B;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__faqs-wrap {
    padding: 90px 0 0;
    font-size: 14px;
    position: fixed;
    background: white;
    top: 0;
    left: 100%;
    color: #4a4a4a;
    transition: left 250ms ease-in-out;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    &.is-active {
      left: 0;
    }
  }
  &__faqs-select {
    padding: 0 26px 12px;
    display: flex;
    flex-shrink: 0;

    > div {
      flex: 1 1 50%;
      text-align: center;
      font-size: 20px;
      font-weight: 300;
      border-bottom: 1px solid #4a4a4a;
      opacity: 0.4;
      line-height: 1;
      padding-bottom: 6px;
      &.is-active {
        opacity: 1;
        border-bottom-color: #1c69d4;
      }
    }
  }
  &__faqs {
    overflow-y: scroll;
    padding: 26px 26px 60px;
  }
  &__faq {
    .question {
      margin-bottom: 16px;
      text-transform: uppercase;
      font-size: 15px;
    }
    .answer {
      margin-bottom: 16px;
      font-weight: 300;

      ul, li {
        list-style: disc;
      }
      ul {
        padding: 10px 32px;
      }

      .notes {
        font-size: 12px;
      }
    }
  }
}

@media only screen and (min-width: 420px) {
  .mainmenu {
    &__models {
      &::before {
        content: '';
        flex: 2;
      }
      &::after {
        content: '';
        flex: 2;
      }
    }

    &__model {
      font-size: 30px;
      flex-grow: 2;
      flex-basis: auto
    }
    .views-container {
      display: flex;
      padding-top: 40px;
      &::before {
        content: '';
        flex: 2;
      }
      &::after {
        content: '';
        flex: 2;
      }
    }
    &__views {
      flex: 9;
    }
    &__view {
      font-size: 22px;
    }
  }
}

@media only screen and (min-height: 660px) {
  .mainmenu {
    &__view {
      margin-bottom: 12px;
    }
    &__photo {
      font-size: 14px;
      button {
        height: 70px;
        width: 70px;

        .camera-icon {
          right: 0px;
          top: 1px;
        }
      }
    }
  }
}

@media only screen and (min-height: 800px) {
  .mainmenu {
    &__view {
      margin-bottom: 16px;
    }
  }
}

@media (orientation: landscape) {

  .mainmenu {
    &__views {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0px 40px
    }

    &__photo {
      justify-content: flex-start
    }
  }
}
@media (max-width: 813px) and (orientation: landscape) {

  .mainmenu {
    &__views {
      flex: 9;
      grid-gap: 0px 20px
    }

    .menu-entries {
      flex: 6;
    }
  }
}

@media only screen and (min-width: 1360px) {
  .mainmenu {
    &__views {
      flex: 7;
    }
  }
}

@media only screen and (max-height: 400px) {
  .mainmenu {
    &__wrap {
      padding: 28px 26px 6px;
    }

    .views-container {
      padding-top: 8px;
    }

    &__view {
      font-size: 15px;
    }

    &__photo   {
      flex: 1 0 auto;
    }
  }
}

@media (max-width: 370px) {
  .mainmenu {
    &__wrap {
      padding: 20px 20px 6px;
    }

    &__controls {
      button {
        width: 38px;
        height: 38px;
      }
      .caret-left-button {
        .caret-left-button-icon {
          width: 15px;
          height: 15px;
          top: 11px;
        }
      }
      .faq-button {
        .faq-button-icon {
          width: 18px;
          height: 34px;
          transform: scale(1.2);
        }
      }
    }

    &__faqs-wrap {
      padding: 72px 0 0;
    }
  }
}

</style>
