<template>
  <div class="root" @click="$emit('click')">
    <svg
      class="icon"
      xmlns="http://www.w3.org/2000/svg"
      width="62.314"
      height="62.313"
      viewBox="0 0 62.314 62.313"
    >
      <g id="cross-icon" transform="translate(-52.751 -52.751)">
        <line
          id="Line_168"
          data-name="Line 168"
          y2="72.125"
          transform="translate(58.408 58.408) rotate(-45)"
          fill="none"
          stroke="#fff"
          stroke-linecap="round"
          stroke-width="8"
        />
        <line
          id="Line_169"
          data-name="Line 169"
          y2="72.125"
          transform="translate(109.408 58.408) rotate(45)"
          fill="none"
          stroke="#fff"
          stroke-linecap="round"
          stroke-width="8"
        />
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'CircularCloseButton',
};
</script>

<style lang="scss" scoped>
.root {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #1e2125;

  .icon {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 370px) {
  .icon {
    width: 16px;
    height: 16px;
  }
}

</style>
