<template>
  <div class="view view--carselection" :class="{'is-active': isActive}">
    <div class="view__wrap">
      <div class="view__text" :class="{'is-active': showModels}">
        <div class="cartitle">
          Let's go.
        </div>
        <div class="carsubtitle">
          Which BMW plug-in hybrid model<br>are you interested in?
        </div>
      </div>
      <div class="carselect" :class="{'is-active': showModels, 'has-select': selectedCar}">
        <div
          class="carselect__item"
          v-for="(m, i) in models"
          :key="i"
          :style="{transitionDelay: `${i*50}ms`}"
          :class="{'is-selected': selectedCar === m.id}"
          @click="selectModel(m)">
            <div class="carselect__name">{{m.name}}</div>
            <div class="carselect__img">
              <img :src="m.image" :alt="m.name">
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import { models } from '@/constants';
import ComponentMixin from '@/components/ComponentMixin.vue';
import isMobile from 'ismobilejs';

export default {
  name: 'CarSelectionComponent',
  extends: ComponentMixin,
  data() {
    return {
      models,
      showModels: true,
      hasRecorded: false,
      selectedCar: undefined,
      selectedModel: undefined,
      timeouts: {},
    };
  },
  computed: {
    seenIntents() {
      return this.$store.getters.getIntents;
    },
    lastIntent() {
      return this.$store.getters.getLastIntent;
    },
    currentAudio() {
      return this.$store.getters['PlayerState/getCurrentAudio'];
    },
    currentView() {
      return this.$store.getters.getCurrentView;
    },
    isRecording() {
      return this.$store.getters.getIsRecording;
    },
    lastResponse() {
      return this.$store.getters.getLastResponse;
    },
  },
  mounted() {
    this.add8thwallScripts();
  },
  methods: {
    add8thwallScripts() {
      const script1 = document.createElement('script');
      script1.setAttribute('src', '//cdn.8thwall.com/web/xrextras/xrextras.js');
      document.head.appendChild(script1);
      const script2 = document.createElement('script');
      script2.setAttribute('src', `//apps.8thwall.com/xrweb?appKey=${process.env.VUE_APP_EIGHTWALL_KEY}`);
      document.head.appendChild(script2);
    },
    setModel(model) {
      this.selectedCar = model.id;
      this.selectedModel = model;
      setTimeout(() => {
        this.showModels = false;
        setTimeout(() => {
          this.$store.dispatch('setSelectedModel', model);
          this.$store.dispatch('setViewByName', 'main-view');
        }, this.currentView.times.selectedCarSleep);
      }, this.currentView.times.selectedCarSleep);
    },
    confirmModel() {
      setTimeout(() => {
        this.showModels = false;
        this.$store.dispatch('setConfirmAction', null);
        setTimeout(() => {
          this.$store.dispatch('setSelectedModel', this.selectedModel);
          this.$store.dispatch('setViewByName', 'main-view');
        }, this.currentView.times.selectedCarSleep);
      }, this.currentView.times.selectedCarSleep);
    },
    selectModel(model) {
      this.$store.dispatch('analyticsEventHit', {
        category: 'ONBOARDING', action: 'Click', event: 'Select Model', label: model.analyticsName,
      });

      this.requestFullscreenInLandscape();
      this.selectedCar = model.id;
      this.selectedModel = model;
      this.$store.dispatch('setSelectedModel', this.selectedModel);
      this.confirmModel();
    },
    requestFullscreenInLandscape() {
      const isPhone = isMobile(navigator).any;
      if (isPhone && window.innerWidth > window.innerHeight) {
        document.documentElement.requestFullscreen();
      }
    },
  },
  watch: {
    currentAudio(current) {
      if (current !== undefined || !this.lastIntent) {
        return;
      }
      if (['3.1.1', '3.1.2', '3.1.3'].indexOf(this.lastIntent) > -1) {
        // When response audio is ended
        const model = models.find((m) => m.id === this.lastIntent);
        if (model) this.setModel(model);
      }
      if (this.lastIntent === '3.1.e') {
        this.$store.dispatch('launchEvent', '3_9');
      }
    },
    lastIntent(intent) {
      if (['3.1.1', '3.1.2', '3.1.3'].indexOf(intent) > -1) {
        const model = models.find((m) => m.intent === intent);
        if (model) this.setModel(model);
      }
    },
    isRecording(current) {
      if (current) this.hasRecorded = current;
    },
  },
  beforeDestroy() {
  },
};
</script>

<style lang="scss">
.view--carselection {
  opacity: 0;
  transition: opacity 250ms ease;
  background-color: #F4F4F4;
  &.is-active {
    opacity: 1;
  }

  .view__wrap {
    padding: 0 26px;
  }

  .view__text {
    opacity: 0;
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
    transform: translate(0, -30px);
    &.is-active {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  .cartitle {
    text-transform: uppercase;
    font-size: 9vw;;
    margin-bottom: 6px;
    line-height: 1;
    font-weight: 100;
  }
  .carsubtitle {
    font-weight: 300;
    font-size: 14px;
  }

  .carselect {

    &__item {
      position: relative;
      display: flex;
      overflow: hidden;
      margin: 10px 0;
      opacity: 0;
      pointer-events: none;
      transform: translate(0, 30px);
      transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
      &:before,
      &:after {
        z-index: 9;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
      }
      &:before {
        background: #a5a5a5;
        width: 100%;
        height: 1px;
      }
      &:after {
        background: #1c69d4;
        width: 0;
        height: 2px;
        transition: width 250ms ease-in-out;
      }
      &.is-selected {
        .carselect__name {
          opacity: 1;
        }
        .carselect__img {
          opacity: 1 !important;
        }
        &:after {
          width: 100%;
        }
      }
    }
    &__name {
      text-transform: uppercase;
      opacity: 0.6;
      transition: opacity 250ms ease;
      font-weight: 300;
      font-size: 24px;
      line-height: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 9px;
    }
    &__img {
      flex: 1;
      transition: opacity 250ms ease;
      img {
        width: auto;
        height: 70px;
        margin-left: auto;
        display: block;
      }
    }

    &.is-active {
      .carselect__item {
        transform: translate(0, 0);
        opacity: 1;
        pointer-events: all;
      }
    }
    &.has-select {
      .carselect__img {
        opacity: 0.2;
      }

    }
  }
}

@media only screen and (max-height: 490px) {
  .view--carselection {
    .view__wrap {
      justify-content: flex-end;
      padding-bottom: 8px;
    }
  }
}
@media only screen and (min-height: 530px) {
  .view--carselection {
    .carselect {
      .carselect__item {
        margin: 20px 0;
      }
    }
  }
}

@media only screen and (min-height: 800px) {
  .view--carselection {
    .carselect__name {
      span {
        margin-top: 50px;
      }
    }
  }
}

@media only screen and (orientation: landscape) {
  .view--carselection {
    .view__wrap {
      flex-direction: row;
      padding: 75px 26px 90px;
      justify-content: space-between;
    }
    .view__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
    }
    .carselect {
      flex: 1;
      max-width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &__item {
        align-items: flex-end;
        height: calc(33% - 13px);
        max-height: 100px;
      }
      &__img {
        height: 100%;
        img {
          height: 100%;
        }
      }
    }
    .cartitle {
      font-size: 7vw;
    }
  }
}

</style>
