<template>
  <div class="view view--home view--backimg" :class="{'is-active': isActive}">
    <div class="view__wrap">
      <div class="flexible-container">
        <div class="view__text">
          <div class="text__line__with__cover">
            <p class="title" ref="welcomeTextRef">Welcome to the</p>
            <div
              class="textCover"
              ref="welcomeCoverRef"
              :class="{'pushToRightEnd': revealWelcomeLine}" />
          </div>
          <div class="text__line__with__cover">
            <p class="title" ref="bmwTextRef">BMW Virtual Viewer.</p>
            <div
              class="textCover"
              ref="bmwCoverRef"
              :class="{'pushToRightEnd': revealBmwLine}" />
          </div>
        </div>

        <div class="media-container">
           <video
            class="video"
            :class="{'is-hidden': isVideoHidden}"
            ref="videoRef"
            src="/animations/wireframe_low.mp4"
            autoplay
            muted
            playsInline
            @timeupdate="onIntroVideoTimeUpdate"
            @error="onIntroVideoError"
           />
           <img src="/img/x5.jpg" class="image" :class="{'is-visible': isPlaceholderImageShown}" />
        </div>
      </div>

      <div class="bottom-container">
        <div
          class="view__button"
          :class="{ 'is-active': startButtonVisible }"
        >
          <button class="button button--wide" @click="next()">Start</button>
        </div>
        <PoweredBy8thWall class="eight-wall-logo"/>
      </div>
    </div>
  </div>
</template>

<script>
import ComponentMixin from '@/components/ComponentMixin.vue';
import PoweredBy8thWall from '@/components/logo/PoweredBy8thWall.vue';

export default {
  components: {
    PoweredBy8thWall,
  },
  name: 'HomeComponent',
  extends: ComponentMixin,
  data() {
    return {
      isVideoHidden: false,
      isPlaceholderImageShown: false,
      startButtonVisible: false,
      revealWelcomeLine: false,
      revealBmwLine: false,
      hasStartedPermissionFlow: false,
    };
  },
  mounted() {
    this.$store.dispatch('disableComponent', 'BottomMenuComponent');
    this.updateIntroTitleCoverHeight();

    this.$store.dispatch('preloadEvent', '3_1_1');
    this.$store.dispatch('preloadEvent', '3_1_2');
    this.$store.dispatch('preloadEvent', '3_1_3');
  },
  computed: {
    currentView() {
      return this.$store.getters.getCurrentView;
    },
  },
  methods: {
    next() {
      this.$store.dispatch('analyticsEventHit', {
        category: 'ONBOARDING', action: 'Click', event: 'Click on Start', label: 'Start',
      });

      if (this.hasStartedPermissionFlow) {
        return;
      }
      this.hasStartedPermissionFlow = true;

      this.isActive = false;
      setTimeout(() => {
        this.$store.dispatch('setViewByName', 'permissions-camera');
      }, this.currentView.times.nextViewSleep);
    },
    updateIntroTitleCoverHeight() {
      if (this.revealWelcomeLine || this.revealBmwLine) {
        return;
      }

      const { height: welcomeTextHeight } = this.$refs.welcomeTextRef.getBoundingClientRect();
      const { height: bmwTextHeight } = this.$refs.bmwTextRef.getBoundingClientRect();
      this.$refs.welcomeCoverRef.style.height = `${welcomeTextHeight}px`;
      this.$refs.bmwCoverRef.style.height = `${bmwTextHeight}px`;
    },
    onIntroVideoTimeUpdate(event) {
      if (!this.$refs.videoRef) {
        return;
      }

      const { currentTime } = event.target;

      if (currentTime > 0.1) {
        this.revealWelcomeLine = true;
      }

      if (currentTime > 1.0) {
        this.revealBmwLine = true;
      }

      if (currentTime > 2.4) {
        this.startButtonVisible = true;
      }

      if (currentTime > 4.6) {
        this.$refs.videoRef.pause();
        this.$refs.videoRef.currentTime = 1.17;
        setTimeout(() => {
          if (this.$refs.videoRef) {
            this.$refs.videoRef.play();
          }
        }, 1800);
      }
    },
    async onIntroVideoError() {
      this.isVideoHidden = true;
      this.isPlaceholderImageShown = true;

      this.revealWelcomeLine = true;
      await new Promise((resolve) => { setTimeout(() => resolve(), 900); });
      this.revealBmwLine = true;
      await new Promise((resolve) => { setTimeout(() => resolve(), 900); });
      this.startButtonVisible = true;
    },
  },
};
</script>

<style lang="scss" scoped>

.eight-wall-logo {
  padding: 16px 0 0 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.view--home {
  opacity: 0;
  transition: opacity 250ms ease;
  &.is-active {
    opacity: 1;
  }

  .view__wrap {
    padding-top: 96px;
    justify-content: space-between;
  }

  .view__text {
    text-align: left;
    padding: 0 26px;

    .title {
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: 300;
      line-height: 1.2;
    }
  }

  .text__line__with__cover {
    position: relative;
  }

  .textCover {
    top: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    left: 0px;
    transition: transform 1600ms ease-out;
  }

  .pushToRightEnd {
    transform: translateX(50%) scaleX(0);
  }

  .bottom-container {
    padding: 0 26px 26px 26px;
  }

  .view__button {
    text-align: center;
    opacity: 0;
    transition: opacity 250ms ease;
    pointer-events: none;
    &.is-active {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.is-hidden {
  display: none;
}

.flexible-container {
  flex-direction: column;
  display: flex;
  height: 100%;

  .view__text {
    height: fit-content;
    flex: 1;
  }
  .media-container {
    background: white;

    .video {
      object-fit: contain;
      color: white;
      background: white;
      backface-visibility: hidden;
      mask-image: radial-gradient(white, black);
    }
    .image {
      display: none;
      object-fit: contain;
      max-width: 100%;
      opacity: 0;
      transition: opacity 3000ms ease-out;

      &.is-visible {
        display: block;
        opacity: 1;
      }
    }
    flex: 1;

  }
}

@media only screen and (orientation: portrait) {
  .flexible-container {
    flex-direction: column;
    justify-content: space-around;

    .view__text {
      font-size: 6.5vw;
      flex: none;
    }

    .media-container {
      flex: 1;
      display: flex;
      margin: 0px 22px;
      justify-content: center;
      align-items: center;

      .video {
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media only screen and (orientation: landscape) {
  .view--home {
    .view__wrap {
      padding-top: 0px;
    }
  }

  .flexible-container {
    flex-direction: row;

    .view__text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 4vw;
    }

    .media-container {
      align-self: center;
      margin-right: 20px;
    }
  }
}
</style>
