<template>
  <div class="root" :class="{'android': isAndroid, 'ios': isIos}">
    <div class="flex">
      <div class="landscape-disallowed">
        <img src="/img/logo-bmw.svg" class="logo" alt="BMW" />
        <div class="title">
          Please turn your phone into portrait mode to have a smooth experience
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MobileDetect from 'mobile-detect';

export default {
  computed: {
    os() {
      return new MobileDetect(window.navigator.userAgent).os();
    },
    isAndroid() {
      return this.os === 'AndroidOS';
    },
    isIos() {
      return this.os === 'iOS';
    },
  },
};
</script>

<style lang="scss" scoped>
.root {
  pointer-events: none;
  z-index: 9999999999;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: #f2f2f4;
}

.landscape-disallowed {
  text-align: center;
  padding: 40px;

  .logo {
    width: 48px;
    height: 48px;
  }

  .title {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 38px;
  }
}

@media (max-width: 667px) and (max-height: 375px) and (orientation: landscape) {
  .ios {
    pointer-events: all;
    opacity: 1;
  }
}
@media (max-width: 667px) and (max-height: 375px) and (orientation: landscape) {
  .android {
    pointer-events: all;
    opacity: 1;
  }
}
</style>
