<template>
  <div class="view view--state" :class="{'is-active': isActive}">
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { bmwTechnologyIntents } from '@/constants';
import Bus from '@/store/bus/Bus';
import ComponentMixin from '@/components/ComponentMixin.vue';
import randomInteger from '@/random-integer.js';

export default {
  name: 'MainViewComponent',
  extends: ComponentMixin,
  data() {
    return {
      isTutorialActive: true,
      journeyResumeTimeout: null,
    };
  },
  computed: {
    ...mapGetters('JourneyState', ['shouldJourneyBePaused']),
    ...mapGetters('PlayerState', ['lastIntentIsMuteRequest']),
    ...mapGetters([
      'shouldHotspotsBeVisible',
      'shouldTriggerHotspotByKeyword',
      'shouldShowHotspotInfoPanel',
      'shouldShowExternalLink',
      'shouldShowTakePhotoComponent',
      'shouldTriggerXRayStarter',
      'shouldShowXRayConfirmationDialog',
      'shouldTriggerRangeStarter',
      'shouldShowRangeQuiz',
      'shouldShowChargingQuiz',
      'shouldTriggerSavingsStarter',
      'shouldShowSavingsConfirmationDialog',
      'shouldPlayAnimationId',
      'shouldShowPersonalisationMenu',
      'shouldShowRealScaleConfirmationDialog',
      'shouldShowTechnologyConfirmationDialog',
      'currentTechologyProps',
      'technologyIntentToLaunch',
      'shouldPlayRadio',
      'shouldTriggerPriceExplanation',
      'legalTermsComponentContent',
    ]),

    currentView() {
      return this.$store.getters.getCurrentView;
    },
    seenIntents() {
      return this.$store.getters.getIntents;
    },
    selectedModel() {
      return this.$store.getters.getSelectedModel;
    },
    isHDModelLoaded() {
      return this.$store.getters['WebGLState/isHDModelLoaded'];
    },
    isExperienceReady() {
      return !this.isTutorialActive && this.isHDModelLoaded;
    },
  },
  mounted() {
    this.$store.dispatch('setLogoClass', 'white');
    this.$store.dispatch('enableComponent', 'TopGradientComponent');
    this.$store.dispatch('enableComponent', 'BottomGradientComponent');
    this.$store.dispatch('enableComponent', 'MuteTooltipConfirm');

    Bus.$on('onExperienceLoaded', () => {
      this.$store.dispatch('enableComponent', 'TutorialComponent');
    });

    // End tutorial
    Bus.$on('onDisplayTutorial', (isDisplaying) => {
      if (!isDisplaying) {
        this.isTutorialActive = false;
        this.$store.dispatch('disableComponent', 'TutorialComponent');
        this.$store.dispatch('PlayerState/stop');
      }
    });

    Bus.$on('onDisplayLoading', (display) => {
      if (display) {
        this.$store.dispatch('enableComponent', 'ModelLoadingIndicator');
      } else {
        this.$store.dispatch('disableComponent', 'ModelLoadingIndicator');
      }
    });

    Bus.$on('showWhiteOverlayLoadingIndicator', () => {
      this.$store.dispatch('enableComponent', 'WhiteOverlayLoadingIndicator');
    });

    Bus.$on('hideWhiteOverlayLoadingIndicator', () => {
      this.$store.dispatch('disableComponent', 'WhiteOverlayLoadingIndicator');
    });

    // Start experience
    Bus.$on('onHDCarLoaded', () => {
      this.$store.dispatch('analyticsEventHit', {
        category: 'LOAD', action: 'Model Loaded', event: 'Model Loaded', label: 'Loaded', value: this.selectedModel.analyticsName,
      });
      const { hasJourneyStarted } = this.$store.state.JourneyState;
      if (hasJourneyStarted) {
        return;
      }
      this.$store.dispatch('disableComponent', 'MuteTooltipConfirm');
      this.$store.dispatch('JourneyState/startJourney');
    });

    // Manage Hotspots
    Bus.$on('onHotspotActivated', (hotspotEventId) => {
      this.$store.dispatch('launchEvent', hotspotEventId);
      this.$store.dispatch('setCurrentHotspotId', hotspotEventId);
    });
  },
  methods: {
    ...mapActions('JourneyState', ['pauseTimer', 'resumeTimer']),
    showTechnologyInfoPanel(props) {
      this.$store.dispatch('setComponentContent', {
        component: 'InfoPanel',
        content: props,
      });
      this.$store.dispatch('enableComponent', 'InfoPanel');
    },
  },
  watch: {
    shouldJourneyBePaused: {
      immediate: true,
      handler(shouldJourneyBePaused) {
        if (shouldJourneyBePaused) {
          this.pauseTimer();
        } else {
          this.resumeTimer();
        }
      },
    },
    selectedModel(model) {
      this.$store.dispatch('stopCurrentInteraction');
      this.$store.dispatch('WebGLState/loadCar', model.code);
      this.$store.dispatch('JourneyState/launchModelDependentEvent', 'midExperienceCarChangeWelcome');
    },
    lastIntentIsMuteRequest(isMuteRequest) {
      if (isMuteRequest) {
        this.$store.dispatch('PlayerState/setMutedStatus', true);
      }
    },
    shouldHotspotsBeVisible(visible) {
      if (visible) {
        this.$store.dispatch('WebGLState/showHotspots');
      } else {
        this.$store.dispatch('WebGLState/hideHotspots');
      }
    },
    shouldTriggerHotspotByKeyword(hotspotKeyword) {
      if (hotspotKeyword) {
        this.$store.dispatch('JourneyState/launchModelDependentEvent', hotspotKeyword);
      }
    },
    shouldShowHotspotInfoPanel(infoPanelProps) {
      if (infoPanelProps) {
        Bus.$emit('inactiveBottomMenuComponent');
        this.$store.dispatch('setComponentContent', {
          component: 'InfoPanel',
          content: infoPanelProps,
        });
        this.$store.dispatch('enableComponent', 'InfoPanel');
      }
    },
    async shouldShowExternalLink(externalLinkProps) {
      if (externalLinkProps) {
        Bus.$emit('showExternalLink', externalLinkProps);
      } else {
        Bus.$emit('inactiveExternalLink');
        await new Promise((resolve) => { setTimeout(() => resolve(), 300); });
        this.$store.dispatch('disableComponent', 'ExternalLink');
      }
    },
    shouldPlayAnimationId(animationId) {
      if ([0, 1, 2].includes(animationId)) {
        this.$store.dispatch('WebGLState/playAnimation', animationId);
      }
    },
    shouldShowTechnologyConfirmationDialog(shouldShow) {
      if (shouldShow) {
        setTimeout(() => {
          this.$store.dispatch('setComponentContent', {
            component: 'BottomMenuComponent',
            content: 'BottomMenuBmwTechnologyConfirm',
          });
          this.$store.dispatch('enableComponent', 'BottomMenuComponent');
        }, 400);
      }
    },
    currentTechologyProps(props) {
      if (props) {
        const technologyIntents = bmwTechnologyIntents[this.selectedModel.code];
        const lastIntentOfCurrentModel = technologyIntents[technologyIntents.length - 1];
        const isLastTechnologyIntent = props.intent.replace(/_/gi, '.') === lastIntentOfCurrentModel;
        const openedByHotspot = props.intent === this.$store.getters.getCurrentHotspotId;
        if (openedByHotspot || isLastTechnologyIntent) {
          this.showTechnologyInfoPanel({
            ...props.infoPanelProps,
          });
        } else {
          this.showTechnologyInfoPanel({
            ...props.infoPanelProps,
            action: {
              title: 'Next',
              onClick: () => {
                if (this.$store.getters.currentlyPlayingTechnology) {
                  this.$store.dispatch('launchEvent', this.$store.getters.firstUnplayedTechnology.intent);
                } else {
                  const unplayed = this.$store.getters.firstUnplayedTechnology.intent.replace(/_/gi, '.');
                  this.$store.commit('storeTechnologyAsSeen', { intent: unplayed, model: this.selectedModel.code });
                }

                const { allTechnologiesHaveBeenStartedPlaying } = this.$store.getters;
                if (allTechnologiesHaveBeenStartedPlaying) {
                  this.$store.commit('clearSeenTechnologyIntents', this.selectedModel.code);
                  this.$store.commit('seeContent', 'BMWTechnology');
                }
              },
            },
          });
        }
      } else {
        Bus.$emit('inactiveInfoPanel');
      }
    },
    technologyIntentToLaunch(intent) {
      if (intent) {
        this.$store.dispatch('launchEvent', intent);
      }
    },
    shouldShowTakePhotoComponent(shouldShow) {
      if (shouldShow) {
        this.$store.dispatch('enableComponent', 'TakePhoto');
      }
    },
    shouldTriggerXRayStarter(shouldTrigger) {
      if (shouldTrigger) {
        this.$store.dispatch('JourneyState/launchModelDependentEvent', 'powerModesStarter');
      }
    },
    shouldShowXRayConfirmationDialog(shouldShow) {
      if (shouldShow) {
        setTimeout(() => {
          this.$store.dispatch('setXRayNeedsConfirmation', true);
          this.$store.dispatch('setComponentContent', {
            component: 'BottomMenuComponent',
            content: 'BottomMenuXRay',
          });
          this.$store.dispatch('enableComponent', 'BottomMenuComponent');
        }, 400);
      }
    },
    shouldTriggerRangeStarter(shouldTrigger) {
      if (shouldTrigger) {
        this.$store.dispatch('JourneyState/launchModelDependentEvent', 'rangeStarter');
      }
    },
    shouldShowRangeQuiz(shouldShow) {
      if (shouldShow) {
        setTimeout(() => {
          this.$store.dispatch('setComponentContent', {
            component: 'BottomMenuComponent',
            content: 'BottomMenuRange',
          });
          this.$store.dispatch('enableComponent', 'BottomMenuComponent');
        }, 400);
      }
    },
    shouldShowChargingQuiz(shouldShow) {
      if (shouldShow) {
        setTimeout(() => {
          this.$store.dispatch('setComponentContent', {
            component: 'BottomMenuComponent',
            content: 'BottomMenuCharging',
          });
          this.$store.dispatch('enableComponent', 'BottomMenuComponent');
        }, 400);
      }
    },
    shouldTriggerSavingsStarter(shouldTrigger) {
      if (shouldTrigger) {
        this.$store.dispatch('JourneyState/launchModelDependentEvent', 'savingsStarter');
      }
    },
    shouldShowSavingsConfirmationDialog(shouldShow) {
      if (shouldShow) {
        setTimeout(() => {
          this.$store.dispatch('setSavingsNeedsConfirmation', true);
          this.$store.dispatch('setComponentContent', {
            component: 'BottomMenuComponent',
            content: 'BottomMenuSavings',
          });
          this.$store.dispatch('enableComponent', 'BottomMenuComponent');
        }, 400);
      }
    },
    shouldPlayRadio(shouldPlay) {
      if (shouldPlay) {
        const index = randomInteger(0, 2);
        this.$store.dispatch(
          'PlayerState/play',
          `/sounds/radio/radio${index}.mp3`,
        );
      }
    },
    shouldTriggerPriceExplanation(shouldTrigger) {
      if (shouldTrigger) {
        this.$store.dispatch('JourneyState/launchModelDependentEvent', 'priceExplanation');
      }
    },
    legalTermsComponentContent(content) {
      if (content) {
        this.$store.dispatch('setComponentContent', {
          component: 'LegalTermsComponent',
          content,
        });
        this.$store.dispatch('enableComponent', 'LegalTermsComponent');
      }
    },
    shouldShowPersonalisationMenu(content) {
      if (content) {
        this.$store.dispatch('setComponentContent', {
          component: 'BottomMenuComponent',
          content: 'BottomMenuPersonalization',
        });
        this.$store.dispatch('enableComponent', 'BottomMenuComponent');
      }
    },
    shouldShowRealScaleConfirmationDialog(shouldShow) {
      if (shouldShow) {
        setTimeout(() => {
          this.$store.dispatch('setComponentContent', {
            component: 'BottomMenuComponent',
            content: 'BottomMenuRealScaleConfirm',
          });
          this.$store.dispatch('enableComponent', 'BottomMenuComponent');
        }, 400);
      }
    },
  },
};
</script>
