<template>
  <div class="root">
    <div class="container">
      <img src="/img/logo-bmw.svg" class="logo" alt="BMW">
      <div class="title">
        This experience is optimized for devices running iOS 13 and above
      </div>
    </div>
  </div>
</template>

<script>
export default {
};
</script>

<style lang="scss" scoped>
.root {
  height: 100%;
  position: absolute;
  pointer-events: all;
  z-index: 9999999999;
  background-color: #F2F2F4;

  .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #f2f2f4;
  }

  .logo {
    width: 48px;
    height: 48px;
  }

  .title {
    padding: 0px 30px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 50px;
  }
}
</style>
