<template>
  <div class="bottom-menu-container" :class="{ 'is-active': isActive }">
    <div class="bottommenu">
      <CircularCloseButton class="close-button" v-if="closeButtonVisible" @click="dismiss" />
      <component v-bind:is="bottomMenu"></component>
    </div>
  </div>
</template>

<script>
import Bus from '@/store/bus/Bus';
import ComponentMixin from '@/components/ComponentMixin.vue';
import CircularCloseButton from '../circular-close-button/CircularCloseButton.vue';
import BottomMenuCharging from './content/BottomMenuCharging.vue';
import BottomMenuPersonalization from './content/BottomMenuPersonalization.vue';
import BottomMenuRange from './content/BottomMenuRange.vue';
import BottomMenuSavings from './content/BottomMenuSavings.vue';
import BottomMenuXRay from './content/BottomMenuXRay.vue';
import BottomMenuRealScaleConfirm from './content/BottomMenuRealScaleConfirm.vue';
import BottomMenuBmwTechnologyConfirm from './content/BottomMenuBmwTechnologyConfirm.vue';

export default {
  name: 'BottomMenuComponent',
  extends: ComponentMixin,
  components: {
    BottomMenuCharging,
    BottomMenuPersonalization,
    BottomMenuRange,
    BottomMenuSavings,
    BottomMenuXRay,
    BottomMenuRealScaleConfirm,
    BottomMenuBmwTechnologyConfirm,
    CircularCloseButton,
  },
  mounted() {
    Bus.$on('inactiveBottomMenuComponent', () => {
      setTimeout(() => {
        this.$store.dispatch('disableComponent', 'BottomMenuComponent');
        this.$store.dispatch('setXRayNeedsConfirmation', false);
        this.$store.dispatch('setPersoMenuJourney', false);
      }, 300);
    });
  },
  computed: {
    bottomMenu() {
      return this.$store.getters.getBottomMenuComponent;
    },
    closeButtonVisible() {
      return this.$store.getters.closeButtonVisibleOnBottomMenu;
    },
  },
  methods: {
    dismiss() {
      setTimeout(() => {
        Bus.$emit('BottomMenuCloseButtonClicked');
        this.$store.dispatch('stopCurrentInteraction');
      }, 250);
    },
  },
  beforeDestroy() {
    Bus.$off('inactiveBottomMenuComponent');
  },
};
</script>

<style lang="scss">

.bottom-menu-container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  transition: bottom 250ms ease-in-out;
  bottom: -300px;

  &.is-active {
    bottom: 0;
  }
}

.bottommenu {
  display: flex;
  flex-direction: column;
  z-index: 99999;
  padding: 20px;
  width: 100%;
  max-width: 640px;
  box-sizing: border-box;

  &__wrap {
    &--quiz {
      background: #F4F4F4;
      border-radius: 25px;
      overflow: hidden;
      padding-bottom: 62px;
    }
  }

  &__text {
    background: #1d1d1d;
    padding: 8px 18px;
    color: white;
    text-align: center;
    font-size: 14px;
  }

  &__timer {
    height: 5px;
    pointer-events: none;
    transition: opacity 250ms ease-in-out;
    opacity: 0;
    &.is-active {
      pointer-events: all;
      opacity: 1;
    }
  }
  &__timebar {
    height: 100%;
    background: #1c69d4;
    width: 100%;
    transition-property: width;
    transition-duration: 0s;
    transition-delay: 0s;
    transition-timing-function: linear;
    &.is-active {
      width: 0;
    }
  }

  &__body {
    height: 70px;
    position: relative;
  }

  &__answers {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease;
    &.is-active {
      opacity: 1;
      pointer-events: all;
    }
  }
  &__answer {
    flex: 1 1 auto;
    color: #1c69d4;
    padding: 12px;
    .value {
      font-size: 22px;
      line-height: 1;
    }
    .unit {
      font-size: 12px;
      line-height: 1;
    }
    + .bottommenu__answer {
      border-left: 1px solid #d6d6d6;
      &--yes {
        border-left: 0;
      }
    }

    &--no,
    &--yes {
      color: white;
      .value {
        font-size: 16px;
        line-height: 2;
      }
    }

    &--no {
      background: #4a4a4a;
    }
    &--yes {
      background: #1c69d4;
    }
  }

  &__response {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease;
    &.is-active {
      opacity: 1;
      pointer-events: all;
    }
    &-wrap {
      background: white;
      margin: 8px 12px;
      border-radius: 48px;
      text-align: center;
      padding: 5px;
    }
    .value {
      font-size: 22px;
      line-height: 1;
    }
    .unit {
      font-size: 12px;
      line-height: 1;
    }
  }

  &__slider {
    padding: 10px;
    opacity: 0;
    transition: opacity 250ms ease;
    &.is-active {
      opacity: 1;
    }
    &.is-untouchable {
      pointer-events: none;
    }
    &.is-answer-showed {
      .reset {
        display: inline-block !important;
      }
    }
    &-value {
      text-align: center;
      line-height: 1;
      font-size: 17px;
      padding-top: 3px;
      .value {
        display: inline-block;
        vertical-align: top;
      }
      .reset {
        width: 14px;
        height: 14px;
        background-color: #1c69d4;
        background-image: url(/icons/correct.svg);
        background-size: 14px;
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
        margin-left: 4px;
        margin-top: 2px;
        vertical-align: top;
        border-radius: 100%;
        display: none;
      }
    }

    &-bar {
      padding: 0 17px 0 15px;
      position: relative;
      &:before,
      &:after {
        position: absolute;
        font-size: 18px;
        line-height: 0;
      }
      &:before {
        content: '-';
        left: 0;
        top: 18px;
      }
      &:after {
        content: '+';
        right: 0;
        top: 22px;
      }
    }
    .vue-slider {
      padding: 12px 8px !important;
    }
    .vue-slider-rail {
      background: #e1e1e1 !important;
    }
    .vue-slider-process {
      background: #1c69d4 !important;
      border-radius: 15px 0 0 15px;
    }
    .vue-slider-dot {
      width: 20px !important;
      height: 20px !important;
      &-handle {
        background: #1b69d4;
        border: transparent;
      }
    }
  }

  .close-button {
    align-self: flex-end;
    margin-bottom: 18px;
    cursor: pointer;
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 370px) {
  .bottommenu {
    .close-button {
      width: 42px;
      height: 42px;
    }
  }
}

@media (max-width: 813px) and (orientation: landscape) {

  .bottommenu {
    max-width: 440px;
  }

  .bottom-menu-container {
    &.is-active {
      bottom: -70px;
    }
  }
}

</style>
