<template>
  <div class="bottommenu__wrap bottommenu__wrap--quiz">

    <div class="bottommenu__text">
      Guess the range of the plug-in hybrid drive
      using electricity only.
    </div>

    <div class="bottommenu__timer" :class="{'is-active': isTimeBarShowed}">
      <div
        class="bottommenu__timebar"
        :class="{'is-active': isTimeBarRunning}"
        :style="{'transition-duration': times.timeToAnswer + 'ms'}"></div>
    </div>

    <div class="bottommenu__body">
      <div class="bottommenu__answers" :class="{'is-active': areAnswersVisible}">
        <div
          class="bottommenu__answer"
          :class="{selected: isAnswerSelected(answer)}"
          @click="sendAnswer(answer)"
          v-for="(answer, i) in answerOptions"
          :key="i">
          <div class="value">{{answer}}</div>
          <div class="unit">miles</div>
        </div>
      </div>
      <div class="bottommenu__response" :class="{'is-active': correctAnswerIsVisible}">
        <div class="bottommenu__response-wrap">
          <div class="value">{{correctAnswer}}</div>
          <div class="unit">miles</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Bus from '@/store/bus/Bus';
import { intents } from '@/constants';
import Vue from 'vue';

export default {
  name: 'BottomMenuRange',
  data() {
    return {
      selectedAnswer: false,
      isTimeBarShowed: true,
      isTimeBarRunning: false,
      areAnswersVisible: false,
      correctAnswerIsVisible: false,
      hasInteracted: false,
      timeouts: {
        killTimeout: null,
        timeToShowAnswers: null,
        timeToShowAnswerAfterRespond: null,
        delayBetweenAnswerSelectionAndSubmission: null,
      },
      times: {
        timeToShowAnswers: 1000,
        timeToAnswer: 20000,
        delayBetweenAnswerSelectionAndSubmission: 1500,
        timeToShowAnswerAfterRespond: 5000,
        timeToKillComponentIfNoInteraction: 20000,
      },
    };
  },
  mounted() {
    this.$store.dispatch('JourneyState/markStepAsSeen', this.$options.name);
    this.$store.dispatch('seeContent', this.$options.name);
  },
  computed: {
    answerOptions() {
      return this.$store.getters.rangeAnswerOptions;
    },
    correctAnswer() {
      return this.$store.getters.correctRangeAnswer;
    },
    lastIntent() {
      return this.$store.getters.getLastIntent;
    },
    lastResponse() {
      return this.$store.getters.getLastResponse;
    },
    isRecording() {
      return this.$store.getters.getIsRecording;
    },
    currentAudio() {
      return this.$store.getters['PlayerState/getCurrentAudio'];
    },
  },
  methods: {
    isAnswerSelected(answer) {
      return answer === this.selectedAnswer;
    },
    sendAnswer(answer) {
      this.selectedAnswer = answer;
      this.isTimeBarShowed = false;
      this.hasInteracted = true;

      this.timeouts.delayBetweenAnswerSelectionAndSubmission = setTimeout(() => {
        this.areAnswersVisible = false;
        this.$store.dispatch('launchText', `${answer}`);
      }, this.times.delayBetweenAnswerSelectionAndSubmission);
    },
    checkResponse(value) {
      this.$store.dispatch('analyticsEventHit', {
        category: 'DISCOVERY', action: 'Answer', event: 'Answer Question', label: 'Charge Network', value,
      });

      if (value <= this.answerOptions[0]) {
        this.$store.dispatch('launchEvent', '8_4_1');
      } else if (value < this.correctAnswer) {
        this.$store.dispatch('launchEvent', '8_4_2');
      } else if (value === this.correctAnswer) {
        this.$store.dispatch('launchEvent', '8_4_3');
      } else if (value > this.correctAnswer) {
        this.$store.dispatch('launchEvent', '8_4_4');
      }
    },
    exit() {
      this.$store.dispatch('stopCurrentInteraction');
    },
    invalidateNoninteractionTimeout() {
      this.isTimeBarShowed = false;
      clearTimeout(this.timeouts.killTimeout);
    },
  },
  watch: {
    currentAudio: {
      immediate: true,
      async handler(current) {
        await Vue.nextTick();
        if (current !== undefined && intents.range.starters.includes(this.lastIntent)) {
          setTimeout(() => {
            this.isTimeBarRunning = true;
          }, 400);
          this.timeouts.killTimeout = setTimeout(() => {
            if (!this.hasInteracted || this.lastIntent === '8.9') {
              this.exit();
            }
          }, this.times.timeToKillComponentIfNoInteraction);
          this.timeouts.timeToShowAnswers = setTimeout(() => {
            this.areAnswersVisible = true;
          }, this.times.timeToShowAnswers);
        }
        if (current === undefined && (intents.range.answerReplies.includes(this.lastIntent))) {
          this.$store.dispatch('JourneyState/launchModelDependentEvent', 'rangeExplanation');
          this.timeouts.timeToShowAnswerAfterRespond = setTimeout(() => {
            Bus.$emit('inactiveBottomMenuComponent');
          }, this.times.timeToShowAnswerAfterRespond);
        }
        if (current === undefined && intents.range.explanations.includes(this.lastIntent)) {
          this.exit();
        }
      },
    },
    lastIntent: {
      immediate: true,
      handler(intent) {
        if (intents.range.answerReplies.includes(intent)) {
          this.areAnswersVisible = false;
          this.correctAnswerIsVisible = true;
        }
      },
    },
    lastResponse: {
      immediate: true,
      handler(response) {
        if (response.data.query_result
        && response.data.query_result.parameters
        && response.data.query_result.parameters.number) {
          this.hasInteracted = true;
          this.isTimeBarShowed = false;
          this.checkResponse(response.data.query_result.parameters.number[0]);
        }
        if (!response
        || !response.data
        || !response.data.query_result
        || !response.data.query_result.outputContexts) {
          this.$store.dispatch('launchEvent', '8_9');
        }
      },
    },
    isRecording: {
      immediate: true,
      handler(isRecording) {
        if (isRecording) {
          this.hasInteracted = true;
          this.invalidateNoninteractionTimeout();
        }
      },
    },
  },
  beforeDestroy() {
    Object.keys(this.timeouts).forEach((key) => {
      clearTimeout(this.timeouts[key]);
    });
  },
};
</script>
<style lang="scss" scoped>

.selected {
  background-color: #1c69d4;
  color: white;
}

</style>
