<template>
  <div>
    <div class="bottommenu__wrap bottommenu__wrap--perso">
      <div class="perso__select-chevron-right"></div>
      <div class="perso__select" ref="header">
        <div class="category-picker">
          <div class="tab-title" @click="selectExterior">
            <div
              :class="{ 'is-active': currentCategory === 'exterior' }"
              class="category"
            >
              Exterior
            </div>
          </div>
          <div class="tab-title" @click="selectInterior">
            <div
              :class="{ 'is-active': currentCategory === 'interior' }"
              class="category"
            >
              Interior
            </div>
          </div>
        </div>

        <div class="option-picker">
          <div
            class="tab-title"
            v-if="currentCategory === 'exterior'"
            @click="changeTab(0)"
          >
            <div
              :class="{ 'is-active': currentTab === 0 }"
              class="tab-text"
            >
              Colour
            </div>
          </div>
          <div
            class="tab-title"
            v-if="currentCategory === 'exterior'"
            @click="changeTab(1)"
          >
            <div
              :class="{ 'is-active': currentTab === 1 }"
              class="tab-text"
            >
              Alloys
            </div>
          </div>
          <div
            class="tab-title"
            v-if="currentCategory === 'interior'"
            @click="changeTab(2)"
          >
            <div
              :class="{ 'is-active': currentTab === 2 }"
              class="tab-text"
            >
              Upholstery
            </div>
          </div>
          <div
            class="tab-title"
            v-if="currentCategory === 'interior'"
            @click="changeTab(3)"
          >
            <div
              :class="{ 'is-active': currentTab === 3 }"
              class="tab-text"
            >
              Trims
            </div>
          </div>
        </div>
      </div>

      <div class="perso__carousels">
        <div
          id="carousel_0"
          class="perso__carousel"
          :class="{ 'is-active': currentTab === 0 }"
        >
          <div ref="carousel_0">
            <div
              v-for="(item, i) in selectedModel.colours"
              :key="i"
              :style="{
                width:
                  selectedModel.colours.length < 5
                    ? `${100 / selectedModel.colours.length}%`
                    : '20%',
              }"
              class="perso__carousel-wrap"
            >
              <div
                class="perso__carousel-item carousel-item"
                :class="[`carousel-item-${i}`, i == 0 ? 'is-active' : '']"
                @click="selectOption(0, i)"
                :style="{ backgroundImage: `url(${item.image})` }"
              ></div>
            </div>
          </div>
        </div>

        <div
          id="carousel_1"
          class="perso__carousel"
          :class="{ 'is-active': currentTab === 1 }"
        >
          <div ref="carousel_1">
            <div
              v-for="(item, i) in selectedModel.alloys"
              :key="i"
              :style="{
                width:
                  selectedModel.alloys.length < 5
                    ? `${100 / selectedModel.alloys.length}%`
                    : '20%',
              }"
              class="perso__carousel-wrap"
            >
              <div
                class="perso__carousel-item carousel-item"
                :class="[`carousel-item-${i}`, i == 0 ? 'is-active' : '']"
                @click="selectOption(1, i)"
                :style="{ backgroundImage: `url(${item.image})` }"
              ></div>
            </div>
          </div>
        </div>

        <div
          id="carousel_2"
          class="perso__carousel"
          :class="{ 'is-active': currentTab === 2 }"
        >
          <div ref="carousel_2">
            <div
              v-for="(item, i) in selectedModel.upholstery"
              :key="i"
              :style="{
                width:
                  selectedModel.upholstery.length < 5
                    ? `${100 / selectedModel.upholstery.length}%`
                    : '20%',
              }"
              class="perso__carousel-wrap"
            >
              <div
                class="perso__carousel-item carousel-item"
                :class="[`carousel-item-${i}`, i == 0 ? 'is-active' : '']"
                @click="selectOption(2, i)"
                :style="{ backgroundImage: `url(${item.image})` }"
              ></div>
            </div>
          </div>
        </div>

        <div
          id="carousel_3"
          class="perso__carousel"
          :class="{ 'is-active': currentTab === 3 }"
        >
          <div ref="carousel_3">
            <div
              v-for="(item, i) in selectedModel.trims"
              :key="i"
              :style="{
                width:
                  selectedModel.trims.length < 5
                    ? `${100 / selectedModel.trims.length}%`
                    : '20%',
              }"
              class="perso__carousel-wrap"
            >
              <div
                class="perso__carousel-item carousel-item"
                :class="[`carousel-item-${i}`, i == 0 ? 'is-active' : '']"
                @click="selectOption(3, i)"
                :style="{ backgroundImage: `url(${item.image})` }"
              ></div>
            </div>
          </div>
        </div>
      </div>

      <div class="current-option-name-container">
        <div class="current-option-name">
          {{ currentPersonalizationOptionName }}
        </div>
      </div>
    </div>

    <div class="ghost-view" />
  </div>
</template>

<script>
/* eslint-disable no-lonely-if */
import { intents } from '@/constants';
import Flickity from 'flickity';
import Bus from '@/store/bus/Bus';
import Vue from 'vue';

export default {
  name: 'BottomMenuPersonalization',
  data() {
    return {
      currentCategory: 'exterior',
      currentTab: 0,
      sawExteriorOptions: false,
      sawInteriorOptions: false,
      lastExteriorTab: 0,
      lastInteriorTab: 2,
      seenTabs: [true, false, true, false],
      hasInteracted: false,
      flicks: [null, null, null, null],
      indexToCategoryMap: {
        0: 'colours',
        1: 'alloys',
        2: 'upholstery',
        3: 'trims',
      },
      optionChangeCounter: {
        0: -1,
        1: -1,
        2: -1,
        3: -1,
      },
      timeouts: {
        promptAlloysTimeout: null,
        promptTrimsTimeout: null,
        switchToInteriorExteriorTimeout: null,
        conclusionTimeout: null,
        noInteractionTimeout: null,
      },
      times: {
        promptAlloysTimeout: 8000,
        promptTrimsTimeout: 8000,
        switchToInteriorExteriorTimeout: 15000,
        conclusionTimeout: 17000,
        noInteractionTimeout: 18000,
      },
    };
  },
  mounted() {
    this.$store.dispatch('seeContent', this.$options.name);
    this.$store.dispatch('JourneyState/markStepAsSeen', this.$options.name);

    if (this.isInsideCar) {
      this.currentCategory = 'interior';
      this.currentTab = this.lastInteriorTab;
      this.sawInteriorOptions = true;
    } else {
      this.currentCategory = 'exterior';
      this.currentTab = this.lastExteriorTab;
      this.sawExteriorOptions = true;
    }
    this.resetSwitchToInteriorExteriorTimeout();

    // Register sliders
    for (let i = 0; i < 4; i += 1) {
      const categoryName = this.indexToCategoryMap[i];
      const categoryOptions = this.selectedModel[categoryName];
      const isDraggable = categoryOptions.length > 5;

      this.flicks[i] = new Flickity(this.$refs[`carousel_${i}`], {
        selectedAttraction: 0.2,
        friction: 0.8,
        prevNextButtons: isDraggable,
        draggable: isDraggable,
        contain: true,
      });
      this.flicks[i].on('change', () => {
        this.hasInteracted = true;
      });
    }

    Bus.$on('BottomMenuCloseButtonClicked', () => {
      this.bottomMenuClosed();
    });

    this.launchStartAudio();
  },
  computed: {
    selectedModel() {
      return this.$store.getters.getSelectedModel;
    },
    isInsideCar() {
      return this.$store.getters['WebGLState/isInsideCar'];
    },
    currentAudio() {
      return this.$store.getters['PlayerState/getCurrentAudio'];
    },
    lastIntent() {
      return this.$store.getters.getLastIntent;
    },
    seenIntents() {
      return this.$store.getters.getIntents;
    },
    isJourneyMode() {
      return this.$store.getters.getPersoMenuJourney;
    },
    personalizationPreferences() {
      return this.$store.getters['WebGLState/getPersonalizationPrefs'];
    },
    alreadyShowedPersonalisationConclusion() {
      return this.$store.state.JourneyState.alreadyShowedPersonalisationConclusion;
    },
    currentPersonalizationOptionName() {
      const currentCategoryName = this.indexToCategoryMap[this.currentTab];
      const currentCategoryItems = this.selectedModel[currentCategoryName];
      const selectedOptionIndex = this.personalizationPreferences[
        this.currentTab
      ];
      const selectedOption = currentCategoryItems[selectedOptionIndex];

      return selectedOption.name;
    },
  },
  methods: {
    selectExterior() {
      this.currentCategory = 'exterior';
      this.changeTab(this.lastExteriorTab);
      if (!this.sawExteriorOptions
        && !this.$store.state.JourneyState.alreadySuggestedOtherPersonalisation) {
        this.$store.dispatch('launchEvent', '0_2');
        this.$store.commit('JourneyState/setAlreadySuggestedOtherPersonalisation', true);
      }
      this.sawExteriorOptions = true;
    },
    selectInterior() {
      this.currentCategory = 'interior';
      this.changeTab(this.lastInteriorTab);
      if (!this.sawInteriorOptions
        && !this.$store.state.JourneyState.alreadySuggestedOtherPersonalisation) {
        this.$store.dispatch('launchEvent', '0_3');
        this.$store.commit('JourneyState/setAlreadySuggestedOtherPersonalisation', true);
      }
      this.sawInteriorOptions = true;
    },
    changeTab(i) {
      this.hasInteracted = true;
      this.currentTab = i;
      if (i < 2) {
        this.lastExteriorTab = i;
      } else {
        this.lastInteriorTab = i;
      }
      this.seenTabs[i] = true;
      this.resetSwitchToInteriorExteriorTimeout();
      this.resetConclusionTimeout();
      this.removeNoInteractionTimeout();
    },

    selectOption(tab, i) {
      this.hasInteracted = true;
      this.resetSwitchToInteriorExteriorTimeout();
      this.resetConclusionTimeout();
      this.launchOptionAudio(tab, i);
      this.personalizeWebGL(tab, i);
      if (this.isJourneyMode) {
        if (tab === 0) {
          this.delayedPromptAlloys();
        }
        if (tab === 2) {
          this.delayedPromptTrims();
        }
      }
      this.hitAnalytics(tab);
    },

    hitAnalytics(tab) {
      const indexToAnalyticsNameMap = {
        0: 'Colour',
        1: 'Alloys',
        2: 'Upholstery',
        3: 'Trims',
      };
      const category = indexToAnalyticsNameMap[tab];
      this.$store.dispatch('analyticsEventHit', {
        category: 'DISCOVERY',
        action: 'Select',
        event: `Select ${category}`,
        label: category,
        value: this.currentPersonalizationOptionName,
      });
    },

    changeClasses(tab, i) {
      const items = document.querySelectorAll(
        `#carousel_${tab} .carousel-item`,
      );
      items.forEach((item) => {
        item.classList.remove('is-active');
      });
      const selected = document.querySelectorAll(
        `#carousel_${tab} .carousel-item-${i}`,
      );
      selected[0].classList.add('is-active');
    },

    launchStartAudio() {
      if (!this.isJourneyMode) return;
      if (this.isInsideCar) {
        this.$store.dispatch('launchEvent', '5_0');
      } else {
        this.$store.dispatch(
          'JourneyState/launchModelDependentEvent',
          'chooseColorIntro',
        );
      }
    },

    launchOptionAudio(tab, i) {
      this.optionChangeCounter[tab] += 1;
      if (this.optionChangeCounter[tab] % 3 !== 0) {
        return;
      }

      if (tab === 2) {
        // Upholstery
        if (this.selectedModel.upholstery[i].type === 'white') {
          this.$store.dispatch('launchEvent', '5_1_1');
        } else if (this.selectedModel.upholstery[i].type === 'black') {
          this.$store.dispatch('launchEvent', '5_1_2');
        } else if (this.selectedModel.upholstery[i].type === 'dark') {
          this.$store.dispatch('launchEvent', '5_1_3');
        }
      } else if (tab === 3) {
        this.$store.dispatch('launchEvent', '5_2_1');
      }
      if (tab === 0) {
        // Colour
        this.$store.dispatch('launchEvent', '6_1');
      } else if (tab === 1) {
        // Alloys
        this.$store.dispatch('launchEvent', '6_2');
      }
    },

    removeConclusionTimeout() {
      clearTimeout(this.timeouts.conclusionTimeout);
    },

    resetConclusionTimeout() {
      if (this.alreadyShowedPersonalisationConclusion) {
        return;
      }

      this.removeConclusionTimeout();
      this.timeouts.conclusionTimeout = setTimeout(() => {
        if (this.isInsideCar) {
          this.$store.dispatch(
            'JourneyState/launchModelDependentEvent',
            'interiorPersonalizationConclusion',
          );
        } else {
          this.$store.dispatch(
            'JourneyState/launchModelDependentEvent',
            'exteriorPersonalizationConclusion',
          );
        }
        Bus.$emit('inactiveBottomMenuComponent');
        this.$store.commit('JourneyState/setAlreadyShowedPersonalisationConclusion', true);
        this.removeConclusionTimeout();
      }, this.times.conclusionTimeout);
    },

    removeNoInteractionTimeout() {
      clearTimeout(this.timeouts.noInteractionTimeout);
    },

    resetNoInteractionTimeout() {
      if (!this.isJourneyMode) return;
      this.removeNoInteractionTimeout();
      this.timeouts.noInteractionTimeout = setTimeout(() => {
        if (!this.hasInteracted) this.exit();
      }, this.times.noInteractionTimeout);
    },

    resetSwitchToInteriorExteriorTimeout() {
      this.removeSwitchToInteriorExteriorTimeout();
      this.timeouts.switchToInteriorExteriorTimeout = setTimeout(() => {
        if ((this.sawInteriorOptions && this.sawExteriorOptions) || !this.isJourneyMode) {
          return;
        }

        if (this.currentCategory === 'exterior') {
          this.selectInterior();
        } else {
          this.selectExterior();
        }
        this.removeSwitchToInteriorExteriorTimeout();
      }, this.times.switchToInteriorExteriorTimeout);
    },

    removeSwitchToInteriorExteriorTimeout() {
      clearTimeout(this.timeouts.switchToInteriorExteriorTimeout);
    },

    personalizeWebGL(property, option) {
      this.$store.dispatch('WebGLState/personalize', { property, option });
    },

    delayedPromptAlloys() {
      clearTimeout(this.timeouts.promptAlloysTimeout);

      this.timeouts.promptAlloysTimeout = setTimeout(() => {
        const lastIntentIsColorComment = intents.colorComment === this.lastIntent;
        const currentlyOnColorsTab = this.currentTab === 0;
        const hasSeenAlloys = this.seenTabs[1];

        if (
          currentlyOnColorsTab
          && lastIntentIsColorComment
          && !hasSeenAlloys
        ) {
          this.changeTab(1);
          this.$store.dispatch(
            'JourneyState/launchModelDependentEvent',
            'chooseAlloysPrompt',
          );
          this.resetConclusionTimeout();
        }
      }, this.times.promptAlloysTimeout);
    },

    delayedPromptTrims() {
      clearTimeout(this.timeouts.promptTrimsTimeout);

      this.timeouts.promptTrimsTimeout = setTimeout(() => {
        const lastIntentIsUpholsteryComment = intents.upholsteryComments.includes(
          this.lastIntent,
        );
        const currentlyOnUpholsteryTab = this.currentTab === 2;
        const hasSeenTrims = this.seenTabs[3];

        if (
          lastIntentIsUpholsteryComment
          && currentlyOnUpholsteryTab
          && !hasSeenTrims
        ) {
          this.changeTab(3);
          this.$store.dispatch('launchEvent', '5_2');
          this.resetConclusionTimeout();
        }
      }, this.times.promptTrimsTimeout);
    },

    bottomMenuClosed() {
      this.exit();
      setTimeout(() => {
        if (this.alreadyShowedPersonalisationConclusion) {
          return;
        }

        this.$store.commit('JourneyState/setAlreadyShowedPersonalisationConclusion', true);

        if (this.isInsideCar) {
          this.$store.dispatch(
            'JourneyState/launchModelDependentEvent',
            'interiorPersonalizationConclusion',
          );
        } else {
          this.$store.dispatch(
            'JourneyState/launchModelDependentEvent',
            'exteriorPersonalizationConclusion',
          );
        }
      }, 500);
    },

    exit() {
      this.$store.dispatch('launchEvent', '0_0');
      Bus.$off('BottomMenuCloseButtonClicked');
      Object.keys(this.timeouts).forEach((k) => {
        clearTimeout(this.timeouts[k]);
      });
      Bus.$emit('inactiveBottomMenuComponent');
    },
  },
  watch: {
    currentAudio: {
      immediate: true,
      async handler(current) {
        await Vue.nextTick();

        if (!this.isJourneyMode) return;
        if (current !== undefined) return;

        if (!this.hasInteracted) {
          this.resetNoInteractionTimeout();
          return;
        }

        if (this.lastIntent === '6.3') {
          // Conclusion audio has finished
          this.exit();
        } else {
          this.resetConclusionTimeout();
        }
      },
    },
    personalizationPreferences: {
      immediate: true,
      async handler(preferences) {
        await Vue.nextTick();
        Object.keys(preferences).forEach((propertyIndex) => {
          this.changeClasses(propertyIndex, preferences[propertyIndex]);
        });
      },
    },
  },
};
</script>

<style lang="scss">
.bottommenu__wrap--perso {
  background-color: #f4f4f4;
  border-radius: 25px;
  overflow: hidden;
  padding: 0px 0px 114px;
}

.perso__select {
  height: 46px;
  display: flex;
  margin-bottom: 8px;
  background: linear-gradient(90deg, #4D4D4D, 43.5%, transparent 43.5% 100%);

  .tab-title {
    z-index: 10;
    width: 25%;
    text-align: center;
    line-height: 36px;
    flex: 1;
    font-size: 11px;
    display: flex;
    justify-content: center;
    color: darkgray;
    transition: opacity 250ms ease, border-bottom-color 250ms ease;

    > .is-active {
      color: black;

      &::after {
        content: "";
        height: 2px;
        position: relative;
        bottom: -2px;
        background: #1c69d4;
        display: inline-block;
      }
    }
  }

  .tab-text {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
  }

  .category {
    padding-top: 6px;
    color: lightgray;

    &.is-active {
      color: white;
      border-bottom: 2px solid #1c69d4;
    }
  }
}

.perso__select-chevron-right {
  width: 10px;
  height: 45px;
  position: absolute;
  left: 44.2%;
  right: 50%;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  background-color: #4D4D4D;
}

.category-picker {
  flex: 43;
  display: flex;
  margin-left: 8px;
  .tab-title:last-child {
    margin-right: 0px;
  }
}
.option-picker {
  flex: 57;
  display: flex;
  border-bottom: 2px solid lightgray;
  margin-right: 2px;
  .tab-title:first-child {
    margin-left: 12px;
  }
}

.perso__carousels {
  position: relative;
}

.perso__carousel {
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  visibility: hidden;
  pointer-events: none;
  &.is-active {
    visibility: visible;
    pointer-events: all;
  }

  &-wrap {
    width: 20%;
    transform: scale(0.8);
  }
  &-item {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 100%;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    &.is-active {
      &:before {
        content: "";
        position: absolute;
        top: -4px;
        left: -4px;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        border: 2px solid #1c69d4;
        z-index: -1;
        border-radius: 100%;
      }
    }
  }

  .flickity-viewport {
    overflow: hidden;
    padding: 4px 0;
    height: 48px !important;
  }

  .flickity-button {
    position: absolute;
    top: 0;
    border: 0;
    height: 40px;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 7px;
    &.previous {
      left: -16px;
      background-image: url(/icons/arrow-left.svg);
    }
    &.next {
      right: -15px;
      background-image: url(/icons/arrow-right.svg);
    }
  }
}

.current-option-name-container {
  position: absolute;
  bottom: 39px;
  left: 10%;
  right: 10%;
  display: flex;
  justify-content: center;

  .current-option-name {
    text-align: center;
    font-size: 12px
  }
}

@media only screen and (min-width: 370px) {
  .perso__carousel {

    &-wrap {
      transform: scale(1);
    }
  }
  .perso__select {
    background: linear-gradient(90deg, #4D4D4D, 50%, transparent 50% 100%);


    .tab-title {
      font-size: 14px;
    }
  }
  .category-picker {
    flex: 1;
    margin-left: 16px;

    .tab-title:last-child {
      margin-right: 18px;
    }
  }
  .option-picker {
    margin-right: 16px;
    flex: 1;

    .tab-title:first-child {
      margin-left: 18px;
    }
  }
  .current-option-name-container {
      .current-option-name {
      font-size: 16px
    }
  }

  .perso__select-chevron-right {
    left: 49.9%;
  }
}

@media (max-width: 813px) and (orientation: landscape) {
  .current-option-name-container {
    bottom: 80px;
  }

  .ghost-view {
    height: 30px;
  }
}
</style>
