<template>
  <div class="bottommenu__wrap bottommenu__wrap--quiz">
    <div class="bottommenu__text">
      How many public charging stations are in the UK?
    </div>

    <div class="bottommenu__timer" :class="{'is-active': isTimeBarShowed}">
      <div
        class="bottommenu__timebar"
        :class="{'is-active': isTimeBarRunning}"
        :style="{'transition-duration': times.timeToAnswer + 'ms'}"></div>
    </div>

    <div class="bottommenu__body">
      <div class="bottommenu__slider" :class="{
        'is-active': areAnswersVisible,
        'is-untouchable': isAnswerSended,
        'is-answer-showed': isAnswerShowed,
      }">
        <div class="bottommenu__slider-value">
          <span class="value">{{sliderValue}}</span>
          <span class="reset" v-if="sliderValue > 0" @click="setValue(0)"></span>
        </div>
        <div class="bottommenu__slider-bar">
          <vue-slider
            ref="slider"
            v-model="sliderValue"
            v-bind="sliderOptions"
            :drag-on-click="true"
            />
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { intents } from '@/constants';
import VueSlider from 'vue-slider-component';
import 'vue-slider-component/theme/antd.css';
import Vue from 'vue';

export default {
  name: 'BottomMenuCharging',
  components: {
    VueSlider,
  },
  data() {
    return {
      correctValue: 12000,
      sliderValue: 0,
      sliderOptions: {
        height: 20,
        min: 0,
        max: 12000,
        interval: 100,
        tooltip: 'none',
        useKeyboard: false,
      },
      isTimeBarShowed: true,
      isTimeBarRunning: false,
      areAnswersVisible: false,
      isAnswerShowed: false,
      isAnswerSended: false,
      isBeingAnimated: true,
      hasInteracted: false,
      timeouts: {
        killTimeout: null,
        timeToShowAnswers: null,
        timeToRememberOptions: null,
        sendAnswerAfterDrag: null,
        timeToFinishAnimationAfterAnswer: null,
      },
      times: {
        timeToExit: 1000,
        timeToShowAnswers: 500,
        timeToAnswer: 20000,
        timeToRememberOptions: 3000,
        timeToKillComponentIfNoInteraction: 20000,
        timeToSendAnswerAfterDragEnds: 1000,
        timeToFinishAnimationAfterAnswer: 1000,
      },
    };
  },
  computed: {
    lastIntent() {
      return this.$store.getters.getLastIntent;
    },
    lastResponse() {
      return this.$store.getters.getLastResponse;
    },
    currentAudio() {
      return this.$store.getters['PlayerState/getCurrentAudio'];
    },
    isRecording() {
      return this.$store.getters.getIsRecording;
    },
  },
  mounted() {
    this.$store.dispatch('seeContent', this.$options.name);
    this.$store.dispatch('JourneyState/markStepAsSeen', this.$options.name);
  },
  methods: {
    setValue(value) {
      this.$refs.slider.setValue(value);
    },
    sendAnswer(answer) {
      if (this.isAnswerSended) return;
      this.hasInteracted = true;
      this.isAnswerSended = true;
      this.$store.dispatch('launchText', `${answer}`);
      this.isTimeBarShowed = false;
    },
    checkResponse(value) {
      this.$store.dispatch('analyticsEventHit', {
        category: 'DISCOVERY', action: 'Answer', event: 'Answer Question', label: 'Charge Time', value,
      });

      if (value < this.correctValue) {
        this.$store.dispatch('launchEvent', '10_4_1');
      } else if (value === this.correctValue) {
        this.$store.dispatch('launchEvent', '10_4_2');
      } else if (value > this.correctValue) {
        this.$store.dispatch('launchEvent', '10_4_3');
      }
    },
    invalidateNoninteractionTimeout() {
      this.isTimeBarShowed = false;
      clearTimeout(this.timeouts.killTimeout);
    },
    exit() {
      setTimeout(() => {
        this.$store.dispatch('stopCurrentInteraction');
      }, this.times.timeToExit);
    },
  },
  watch: {
    currentAudio: {
      immediate: true,
      async handler(current) {
        await Vue.nextTick();

        if (current !== undefined && intents.charging.starters.includes(this.lastIntent)) {
          setTimeout(() => {
            this.isTimeBarRunning = true;
          }, 400);
          this.timeouts.timeToShowAnswers = setTimeout(() => {
            this.areAnswersVisible = true;
          }, this.times.timeToShowAnswers);
          this.timeouts.killTimeout = setTimeout(() => {
            if (!this.hasInteracted) {
              this.exit();
            }
          }, this.times.timeToKillComponentIfNoInteraction);
        }
        if (current === undefined && intents.charging.starters.includes(this.lastIntent)) {
          this.timeouts.timeToRememberOptions = setTimeout(() => {
            if (!this.hasInteracted) {
              this.$store.dispatch('launchEvent', '10_2');
            }
          }, this.times.timeToRememberOptions);
        }
        if (current === undefined && (intents.charging.answerReplies.includes(this.lastIntent))) {
          this.$store.dispatch('JourneyState/launchModelDependentEvent', 'chargingExplanation');
          this.isAnswerSended = true;
          this.setValue(this.correctValue);
          this.isAnswerShowed = true;
        }
        if (current === undefined && intents.charging.explanations.includes(this.lastIntent)) {
          this.exit();
        }
      },
    },
    lastResponse: {
      immediate: true,
      handler(response) {
        if (response.data.query_result
        && response.data.query_result.parameters
        && response.data.query_result.parameters.number) {
          const rNumber = response.data.query_result.parameters.number;
          this.hasInteracted = true;
          this.isTimeBarShowed = false;
          const number = rNumber[0] || rNumber;
          this.checkResponse(number);
        }
        if (!response
        || !response.data
        || !response.data.query_result
        || !response.data.query_result.outputContexts) {
          this.$store.dispatch('launchEvent', '10_9');
        }
      },
    },
    isRecording: {
      immediate: true,
      handler(isRecording) {
        if (isRecording) {
          this.hasInteracted = true;
          this.invalidateNoninteractionTimeout();
        }
      },
    },
    sliderValue(value) {
      this.hasInteracted = true;
      if (this.timeouts.sendAnswerAfterDrag) clearTimeout(this.timeouts.sendAnswerAfterDrag);
      this.timeouts.sendAnswerAfterDrag = setTimeout(() => {
        this.sendAnswer(value);
      }, this.times.timeToSendAnswerAfterDragEnds);
    },
  },
  beforeDestroy() {
    Object.keys(this.timeouts).forEach((key) => {
      clearTimeout(this.timeouts[key]);
    });
  },
};
</script>
