<template>
  <div class="bottommenu__wrap bottommenu__wrap--quiz" v-if="needsConfirmation">
    <div class="bottommenu__text">
      Do you want to see the inner workings
      of the {{selectedModel.model}}?
    </div>

    <div class="bottommenu__timer" :class="{'is-active': isTimeBarShowed}">
      <div
        class="bottommenu__timebar"
        :class="{'is-active': isTimeBarRunning}"
        :style="{'transition-duration': times.timeToAnswer + 'ms'}"></div>
    </div>

    <div class="bottommenu__body">
      <div class="bottommenu__answers confirm-question" :class="{'is-active': areAnswersVisible}">
        <div @click="sayNo()" class="bottommenu__answer bottommenu__answer--no">
          <div class="value">No</div>
        </div>
        <div @click="sayYes()" class="bottommenu__answer bottommenu__answer--yes">
          <div class="value">Yes</div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Bus from '@/store/bus/Bus';
import { intents } from '@/constants';
import Vue from 'vue';

export default {
  name: 'BottomMenuXRay',
  data() {
    return {
      isTimeBarShowed: true,
      isTimeBarRunning: false,
      areAnswersVisible: false,
      hasInteracted: false,
      timeouts: {
        killTimeout: null,
        hideAfterConfirmTimeout: null,
      },
      times: {
        timeToShowAnswers: 50, // after question ends
        timeToAnswer: 15000, // blue bar timing, starts after question ends
        timeToKillComponentIfNoInteraction: 15000, // after question ends
        hideAfterConfirmTimeout: 150,
      },
    };
  },
  computed: {
    lastIntent() {
      return this.$store.getters.getLastIntent;
    },
    currentAudio() {
      return this.$store.getters['PlayerState/getCurrentAudio'];
    },
    isRecording() {
      return this.$store.getters.getIsRecording;
    },
    selectedModel() {
      return this.$store.getters.getSelectedModel;
    },
    needsConfirmation() {
      return this.$store.getters.getXRayNeedsConfirmation;
    },
  },
  mounted() {
    this.$store.dispatch('seeContent', this.$options.name);
    this.$store.dispatch('JourneyState/markStepAsSeen', this.$options.name);
    if (this.needsConfirmation) {
      this.areAnswersVisible = true;
    } else {
      this.sayYes();
    }
  },
  methods: {
    sayYes() {
      this.hasInteracted = true;
      this.$store.dispatch('JourneyState/launchModelDependentEvent', 'powerModesExplanation');
      this.timeouts.hideAfterConfirmTimeout = setTimeout(() => {
        Bus.$emit('inactiveBottomMenuComponent');
      }, this.times.hideAfterConfirmTimeout);
    },
    sayNo() {
      this.hasInteracted = true;
      this.exit();
    },
    exit() {
      this.$store.dispatch('stopCurrentInteraction');
    },
  },
  watch: {
    currentAudio: {
      immediate: true,
      async handler(current) {
        await Vue.nextTick();

        if (current === undefined && intents.powerModes.starters.includes(this.lastIntent)) {
          this.isTimeBarRunning = true;
          this.timeouts.killTimeout = setTimeout(() => {
            if (!this.hasInteracted) this.exit();
          }, this.times.timeToKillComponentIfNoInteraction);
        }
        if (current === undefined && intents.powerModes.explanations.includes(this.lastIntent)) {
          this.exit();
        }
      },
    },
    lastIntent: {
      immediate: true,
      handler(intent) {
        if (intents.powerModes.yes.includes(intent)) {
          this.sayYes();
        }
        if (intents.powerModes.no.includes(intent)) {
          this.sayNo();
        }
      },
    },
    isRecording: {
      immediate: true,
      handler(isRecording) {
        if (isRecording) this.hasInteracted = true;
      },
    },
  },
  beforeDestroy() {
    Object.keys(this.timeouts).forEach((key) => {
      clearTimeout(this.timeouts[key]);
    });
  },
};
</script>

<style lang="scss" scoped>
.confirm-question {
  top: 0px;
}

</style>
