<template>
  <div class="bottommenu__wrap bottommenu__wrap--quiz">
    <div class="bottommenu__text">
      Do you want to learn more about BMW Technology?
    </div>

    <div class="bottommenu__timer" :class="{'is-active': isTimeBarShowed}">
      <div
        class="bottommenu__timebar"
        :class="{'is-active': isTimeBarRunning}"
        :style="{'transition-duration': times.timeToAnswer + 'ms'}"></div>
    </div>

    <div class="bottommenu__body">
      <div class="bottommenu__answers confirm-question" :class="{'is-active': areAnswersVisible}">
        <div @click="sayNo()" class="bottommenu__answer bottommenu__answer--no">
          <div class="value">No</div>
        </div>
        <div @click="sayYes()" class="bottommenu__answer bottommenu__answer--yes">
          <div class="value">Yes</div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import Vue from 'vue';

export default {
  name: 'BottomMenuBmwTechnologyConfirm',
  data() {
    return {
      isTimeBarShowed: true,
      isTimeBarRunning: false,
      areAnswersVisible: false,
      hasInteracted: false,
      timeouts: {
        killTimeout: null,
      },
      times: {
        timeToShowAnswers: 50, // after question ends
        timeToAnswer: 15000, // blue bar timing, starts after question ends
        timeToKillComponentIfNoInteraction: 15000, // after question ends
      },
    };
  },
  computed: {
    lastIntent() {
      return this.$store.getters.getLastIntent;
    },
    currentAudio() {
      return this.$store.getters['PlayerState/getCurrentAudio'];
    },
    isRecording() {
      return this.$store.getters.getIsRecording;
    },
    selectedModel() {
      return this.$store.getters.getSelectedModel;
    },

  },
  mounted() {
    this.$store.dispatch('seeContent', this.$options.name);
    this.$store.dispatch('JourneyState/markStepAsSeen', this.$options.name);
    this.areAnswersVisible = true;
  },
  methods: {
    sayYes() {
      this.$store.dispatch('stopCurrentInteractionLocally');
      this.$store.dispatch('JourneyState/markStepAsSeen', 'bmwTechnology');
      this.$store.dispatch(
        'JourneyState/technologyStartTrigger',
      );
    },
    sayNo() {
      this.hasInteracted = true;
      this.exit();
    },
    exit() {
      this.$store.dispatch('stopCurrentInteraction');
    },
  },
  watch: {
    currentAudio: {
      immediate: true,
      async handler(current) {
        await Vue.nextTick();
        if (current === undefined && this.lastIntent === '18.1') {
          this.isTimeBarRunning = true;
          this.timeouts.killTimeout = setTimeout(() => {
            if (!this.hasInteracted) this.exit();
          }, this.times.timeToKillComponentIfNoInteraction);
        }
        if (current === undefined && this.lastIntent === '18.0.2') {
          this.exit();
        }
      },
    },
    lastIntent: {
      immediate: true,
      handler(intent) {
        if (intent === '18.0.1') {
          this.sayYes();
        }
        if (intent === '18.0.2') {
          this.sayNo();
        }
      },
    },
    isRecording: {
      immediate: true,
      handler(isRecording) {
        if (isRecording) {
          this.hasInteracted = true;
        }
      },
    },
  },
  beforeDestroy() {
    Object.keys(this.timeouts).forEach((key) => {
      clearTimeout(this.timeouts[key]);
    });
  },
};
</script>

<style lang="scss" scoped>
.confirm-question {
  top: 0px;
}
</style>
