<template>
  <div class="subtitles" :class="{ 'is-active': isActive }">
    <div class="content" :class="{ 'has-content': currentText }">
      {{currentText}}
    </div>
  </div>
</template>

<script>
export default {
  name: 'Subtitles',
  data() {
    return {
      subtitles: null,
      currentIndex: null,
      currentText: null,
      timeout: null,
    };
  },
  computed: {
    isMuted() {
      return this.$store.getters['PlayerState/getIsMuted'];
    },
    isActive() {
      const urlParams = new URLSearchParams(window.location.search);
      const shouldShow = this.isMuted || urlParams.has('showSubtitles');

      return !!this.subtitles && shouldShow;
    },
    lastSubtitles() {
      return this.$store.getters.getLastSubtitles;
    },
  },
  methods: {
    play(subtitles) {
      this.reset();
      this.subtitles = subtitles;
      this.next();
    },
    reset() {
      clearTimeout(this.timeout);
      this.timeout = null;
      this.currentText = null;
      this.subtitles = null;
      this.currentIndex = -1;
    },
    next() {
      clearTimeout(this.timeout);
      this.timeout = null;
      this.currentText = null;
      this.currentIndex += 1;

      if (this.currentIndex === this.subtitles.length) {
        this.reset();
        return;
      }

      const { time, content } = this.subtitles[this.currentIndex];

      this.currentText = content || null;
      if (time) {
        this.timeout = setTimeout(() => this.next(), time);
      }
    },
  },
  watch: {
    lastSubtitles(subtitles) {
      if (subtitles && subtitles.length > 0) {
        this.play(subtitles);
      } else {
        this.reset();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.subtitles {
  position: absolute;
  left: 0;
  right: 0;
  top: 90px;
  padding: 0 26px;
  justify-content: center;
  z-index: 99999;
  display: none;

  &.is-active {
    display: flex;
  }
}

.content {
  padding: 16px 20px;
  border-radius: 25px;
  opacity: 0;
  background: transparent;
  box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.2);
  transition: opacity 300ms ease-in-out;
  font-size: 14px;
  font-weight: 300;
  text-align: center;

  &.has-content {
    opacity: 1;
    background: #F2F2F4;
  }
}

@media (max-width: 370px) {
  .subtitles {
    top: 64px;
    padding: 0px 10px;
  }
}
</style>
