<!-- eslint-disable max-len -->
<template>
  <div class="root">
    <div
      class="tooltip"
      :class="{ active: tooltipVisible, increasedRightOffset: mainMenuButtonVisible }"
      @click="hideTooltip"
    >
      {{tooltipContent}}
    </div>
    <div class="icon-container">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="43.243"
        height="43.243"
        viewBox="0 0 43.243 43.243"
        v-if="isMuteOn"
        class="mutebutton"
        @click="unmute()"
      >
        <g id="btn_icon_mute" transform="translate(-1836.379 -223.378)">
          <path
            id="Subtraction_1"
            data-name="Subtraction 1"
            d="M1023.1,573.773a.958.958,0,0,1-.58-.2l-14.449-10.9h-8.132A1.941,1.941,0,0,1,998,560.736v-11.7a1.942,1.942,0,0,1,1.939-1.94h2.272l21.854,21.634v4.076a.969.969,0,0,1-.535.862A.954.954,0,0,1,1023.1,573.773Zm.965-19.89,0,0-10.805-10.7,9.263-6.99a.964.964,0,0,1,1.544.769v16.919Z"
            transform="translate(842 -308)"
            fill="#fff"
            stroke="rgba(0,0,0,0)"
            stroke-miterlimit="10"
            stroke-width="1"
          />
          <path
            id="Path_1375"
            data-name="Path 1375"
            d="M0,0,39,39"
            transform="translate(1838.5 225.5)"
            fill="#fff"
            stroke="#fff"
            stroke-linecap="round"
            stroke-width="3"
          />
        </g>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="41.834"
        height="38.799"
        viewBox="0 0 41.834 38.799"
        v-if="!isMuteOn"
        class="mutebutton"
        @click="mute()"
      >
        <g id="btn_icon_nomute" transform="translate(-1844.167 -66.473)">
          <g id="btn_icon_mute" transform="translate(-1 -161)">
            <path
              id="Subtraction_1"
              data-name="Subtraction 1"
              d="M1017.979,536.1a.619.619,0,0,0-.791.093l-11.308,10.9h-6.363A1.771,1.771,0,0,0,998,549.039v11.7a1.771,1.771,0,0,0,1.517,1.939h6.363l11.308,10.9a.651.651,0,0,0,.454.195.621.621,0,0,0,.337-.1,1.021,1.021,0,0,0,.419-.863V536.965A1.02,1.02,0,0,0,1017.979,536.1Z"
              transform="translate(847.667 -308)"
              fill="#fff"
              stroke="rgba(0,0,0,0)"
              stroke-miterlimit="10"
              stroke-width="1"
            />
          </g>
          <g id="Wifi" transform="translate(1901 68) rotate(90)">
            <path
              id="Path_256"
              data-name="Path 256"
              d="M28.818,20.858l-2.554,2.979a.19.19,0,0,0-.182.213H25.9c-.182,0-.365,0-.365-.213a13.91,13.91,0,0,0-10.945-5.32,13.656,13.656,0,0,0-10.945,5.32c0,.213-.182.213-.365.213H3.1a.19.19,0,0,1-.182-.213L.362,20.858a1.082,1.082,0,0,1,0-1.064,19.658,19.658,0,0,1,9.12-6.171,17.333,17.333,0,0,1,10.4,0A19.658,19.658,0,0,1,29,19.794,1.814,1.814,0,0,1,28.818,20.858Zm-5.655,6.6-2.554,2.979a.19.19,0,0,0-.182.213h-.182c-.182,0-.365,0-.365-.213a6.756,6.756,0,0,0-10.58,0,.531.531,0,0,1-.365.213H8.753a.19.19,0,0,1-.182-.213L6.016,27.455c-.365-.426-.365-.638,0-1.064a11.134,11.134,0,0,1,17.511,0A1.28,1.28,0,0,1,23.163,27.455Z"
              transform="translate(3.775 2.174)"
              fill="#fff"
            />
          </g>
        </g>
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MuteButtonComponent',
  data() {
    return {
      hideTooltipTimeout: null,
      tooltipVisible: false,
      hasShownTooltipOnce: false,
      tooltipContent: '',
    };
  },
  mounted() {
  },
  computed: {
    isMuteOn() {
      return this.$store.getters['PlayerState/getIsMuted'];
    },
    mainMenuButtonVisible() {
      return this.$store.getters.mainMenuButtonVisible;
    },
    isTutorialConfirmActive() {
      return this.$store.state.ViewsState.currentComponents.includes('MuteTooltipConfirm');
    },
  },
  methods: {
    unmute() {
      const newValue = false;
      this.$store.dispatch('analyticsEventHit', {
        category: 'ALL', action: 'Click', event: 'Click on Mute', label: 'Mute', value: newValue,
      });
      this.$store.dispatch('PlayerState/setMutedStatus', newValue);
      this.hideTooltip();
      this.$store.dispatch('disableComponent', 'MuteTooltipConfirm');
    },
    mute() {
      const newValue = true;
      this.$store.dispatch('analyticsEventHit', {
        category: 'ALL', action: 'Click', event: 'Click on Mute', label: 'Mute', value: newValue,
      });
      this.$store.dispatch('PlayerState/setMutedStatus', newValue);
      this.hideTooltip();
      this.$store.dispatch('disableComponent', 'MuteTooltipConfirm');
    },
    hideTooltip() {
      this.tooltipVisible = false;
      clearTimeout(this.hideTooltipTimeout);
    },
    showTooltip(content) {
      this.tooltipContent = content;
      this.tooltipVisible = true;
    },
  },
  watch: {
    isTutorialConfirmActive: {
      immediate: true,
      handler(isActive) {
        if (isActive) {
          this.showTooltip('Click to unmute');
        } else {
          this.hideTooltip();
        }
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.root {
  display: inline-block;
}

.mutebutton {
  width: 38px;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

.tooltip {
  z-index: 9999999999;
  position: absolute;
  top: 105px;
  right: 20px;
  background: white;
  padding: 10px 30px;
  border-radius: 15px;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  transition: opacity 500ms, right 150ms ease;
  animation: floating 2s infinite;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  &.increasedRightOffset {
    right: 76px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;
    box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.3);
    z-index: -2;
  }

  &::after {
    content: "";
    position: absolute;
    right: 2%;
    top: -20%;
    width: 24px;
    height: 24px;
    transform: translateX(-50%) rotate(225deg);
    background: linear-gradient(135deg, transparent 50%, white 50%);
    box-shadow: 1px 1px 3px -2px rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.icon-container {
  width: 35px;
  height: 35px;
  padding-top: 10px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  .mutebutton {
    width: 45px;
  }
}

@media only screen and (max-width: 370px) {
  .icon-container {
    padding-top: 2px;
    margin-right: 2px;

    .mutebutton {
      width: 26px;
    }
  }

  .tooltip {
    top: 80px;
    right: 16px;

    &::after {
      right: 0%;
      top: -17%;
    }
  }
}

@media only screen and (max-width: 370px) and (orientation: landscape) {
  .icon-container {
    margin-right: 20px;
  }
}
</style>
