<template>
  <div class="mutetooltipconfirm" :class="{'is-active': isActive}" @click="exit">
    <div class="mutetooltipconfirm__wrap" >
      <button
        class="button button--wide">Got it!</button>
    </div>
  </div>
</template>

<script>
import ComponentMixin from '@/components/ComponentMixin.vue';

export default {
  name: 'MuteTooltipConfirm',
  extends: ComponentMixin,
  data() {
    return {
      hideTimeout: null,
    };
  },
  methods: {
    exit() {
      this.$store.dispatch('disableComponent', 'MuteTooltipConfirm');
    },
  },
  beforeDestroy() {
    clearTimeout(this.hideTimeout);
    this.hideTimeout = null;
    this.$store.dispatch('WebGLState/startExperience', this.$store.getters.getSelectedModel?.code);
    this.$store.dispatch('launchEvent', this.$store.state.ViewsState.selectedModel.event);
  },
};
</script>

<style lang="scss" scoped>
.mutetooltipconfirm {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 99999;

  &__wrap {
    text-align: center;
    padding: 0 26px;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
  }
}
</style>
