/* FONTS

*****************************************/

/* BMWTypeAll */
/*
@font-face {
  font-family: 'BMWTypeNextLatin';
  src: url('~@/styles/fonts/BMWTypeAll/BMWTypeWebLightAll.20200714064548.eot');
  src: url('~@/styles/fonts/BMWTypeAll/BMWTypeWebLightAll.20200714064548.eot#iefix') format("embedded-opentype"),
       url('~@/styles/fonts/BMWTypeAll/BMWTypeWebLightAll.20200714064548.woff2') format("woff2"),
       url('~@/styles/fonts/BMWTypeAll/BMWTypeWebLightAll.20200714064548.woff') format("woff"),
       url('~@/styles/fonts/BMWTypeAll/BMWTypeWebLightAll.20200714064548.ttf') format("truetype");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BMWTypeNextLatin';
  src: url('~@/styles/fonts/BMWTypeAll/BMWTypeWebBoldAll.20200714064548.eot');
  src: url('~@/styles/fonts/BMWTypeAll/BMWTypeWebBoldAll.20200714064548.eot#iefix') format("embedded-opentype"),
       url('~@/styles/fonts/BMWTypeAll/BMWTypeWebBoldAll.20200714064548.woff2') format("woff2"),
       url('~@/styles/fonts/BMWTypeAll/BMWTypeWebBoldAll.20200714064548.woff') format("woff"),
       url('~@/styles/fonts/BMWTypeAll/BMWTypeWebBoldAll.20200714064548.ttf') format("truetype");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BMWTypeNextLatin';
  src: url('~@/styles/fonts/BMWTypeAll/BMWTypeWebThinAll.20200714064548.eot');
  src: url('~@/styles/fonts/BMWTypeAll/BMWTypeWebThinAll.20200714064548.eot#iefix') format("embedded-opentype"),
       url('~@/styles/fonts/BMWTypeAll/BMWTypeWebThinAll.20200714064548.woff2') format("woff2"),
       url('~@/styles/fonts/BMWTypeAll/BMWTypeWebThinAll.20200714064548.woff') format("woff"),
       url('~@/styles/fonts/BMWTypeAll/BMWTypeWebThinAll.20200714064548.ttf') format("truetype");
  font-display: swap;
  font-weight: 100;
  font-style: normal;
}
*/

/* BMWTypeNext */
/*
@font-face {
  font-family: 'BMWTypeNextLatin';
  src: url('~@/styles/fonts/BMWTypeNext/BMWTypeNextLatin-Regular.woff') format('woff'),
       url('~@/styles/fonts/BMWTypeNext/BMWTypeNextLatin-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BMWTypeNextLatin';
  src: url('~@/styles/fonts/BMWTypeNext/BMWTypeNextLatin-Bold.woff') format('woff'),
       url('~@/styles/fonts/BMWTypeNext/BMWTypeNextLatin-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BMWTypeNextLatin';
  src: url('~@/styles/fonts/BMWTypeNext/BMWTypeNextLatin-Light.woff') format('woff'),
       url('~@/styles/fonts/BMWTypeNext/BMWTypeNextLatin-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BMWTypeNextLatin';
  src: url('~@/styles/fonts/BMWTypeNext/BMWTypeNextLatin-Thin.woff') format('woff'),
       url('~@/styles/fonts/BMWTypeNext/BMWTypeNextLatin-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
*/

/* BMWTypeNextLatin */
/*
@font-face {
  font-family: 'BMWTypeNextLatin';
  src: url('~@/styles/fonts/BMWTypeNextLatin/BMWTypeNextLatin.woff2') format('woff2'),
       url('~@/styles/fonts/BMWTypeNextLatin/BMWTypeNextLatin.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
*/

/* BMWTypeNextLatinTT */

@font-face {
  font-family: 'BMWTypeNextLatin';
  src: url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Regular.eot');
  src: url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Regular.eot#iefix') format("embedded-opentype"),
       url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Regular.woff2') format("woff2"),
       url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Regular.woff') format("woff"),
       url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Regular.ttf') format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'BMWTypeNextLatin';
  src: url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Light.eot');
  src: url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Light.eot#iefix') format("embedded-opentype"),
       url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Light.woff2') format("woff2"),
       url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Light.woff') format("woff"),
       url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Light.ttf') format("truetype");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'BMWTypeNextLatin';
  src: url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Thin.eot');
  src: url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Thin.eot#iefix') format("embedded-opentype"),
       url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Thin.woff2') format("woff2"),
       url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Thin.woff') format("woff"),
       url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Thin.ttf') format("truetype");
  font-display: swap;
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'BMWTypeNextLatin';
  src: url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Bold.eot');
  src: url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Bold.eot#iefix') format("embedded-opentype"),
       url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Bold.woff2') format("woff2"),
       url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Bold.woff') format("woff"),
       url('/fonts/BMWTypeNextLatinTT/BMWTypeNextLatinTT-Bold.ttf') format("truetype");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}