/* MAIN

*****************************************/
* {
  -moz-user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: #fff;
}

body {
  font-family: "BMWTypeNextLatin", sans-serif;
  color: #484848;
}

p {
  margin-bottom: 16px;
}

.appbg {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms ease;
  &.is-active {
    opacity: 1;
  }
}

@media only screen and (orientation: landscape) {
  .appbg {
    background-size: 50vw;
    background-position: right;
  }
}

.button {
  border: 0;
  color: white;
  padding: 10px 18px;
  background: #1c69d4;
  // background: radial-gradient(circle, rgba(44,148,231,1) 0%, rgba(28,105,212,1) 100%);
  // background-size: 200% 200px;
  // background-position: 100% 100%;
  font-weight: 600;
  &:focus {
    outline: 0;
  }
  &:active {
    // background-position: 10% 10%;
  }
  + .button {
    margin-left: 6px;
  }
  &--round {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 0;
  }
  &--shadow {
    box-shadow: 1px 3px 11px -2px rgba(0, 0, 0, 0.5);
    transition: box-shadow 250ms ease, background 250ms ease;
    &:active {
      box-shadow: 0 0 3px -2px rgba(0, 0, 0, 0.5),
        inset 2px 3px 5px rgba(0, 0, 0, 0.3);
    }
  }
  &--wide {
    width: 100%;
    // max-width: 400px;
  }
}

#camerafeed {
  position: fixed;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  z-index: 999 !important;
}

#photodownload {
  display: none;
}
