
/* RESET

*****************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {display: block;font-family:inherit; }
audio,canvas,video {display: inline-block;max-width: 100%;}
html{-webkit-text-size-adjust: 100%;-ms-text-size-adjust:100%;min-height: 100%;}
body,button,input,select,textarea {color: #2b2b2b;font-family:inherit;font-size: 16px;font-weight: 400;line-height: 1.5;}
button:focus {outline: 0;}
body{min-height: 100%;}
span{color: inherit;}
a{color: #087be3;text-decoration: none;cursor: pointer;}
a:focus {outline: 0;color: #08c1e3;}
a:hover,a:active {outline: 0;}
a:active,a:hover {color: #065fb0;}
h1,h2,h3,h4,h5,h6{font-family:inherit;clear: both;font-weight: 700;margin: 0 0 0.25em;}
h1{font-size: 34px;line-height: 1.3846153846;}
h2{font-size: 28px;line-height: 1;}
h3{font-size: 22px;line-height: 1.0909090909;}
h4{font-size: 18px;line-height: 1.2;}
h5{font-size: 14px;line-height: 1.3333333333;}
h6{font-size: 16px;line-height: 1.3333333333; font-weight: 400;}
address{font-style: italic;margin-bottom: 24px;}
abbr[title]{border-bottom: 1px dotted #2b2b2b;cursor: help;}
b,strong{font-weight: 700;}
cite,dfn,em,i{font-style: italic;}
mark,ins{background: #fff9c0;text-decoration: none;}
p{margin-bottom: 24px;word-wrap: break-word;/* line-height: 1.2; */}
code,kbd,tt,var,samp,pre{font-family: monospace, serif;font-size: 15px;-webkit-hyphens: none;-moz-hyphens: none;-ms-hyphens:none;hyphens:none;line-height: 1.6;}
pre{border: 1px solid rgba(0, 0, 0, 0.1);-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin-bottom: 24px;max-width: 100%;overflow: auto;padding: 12px;white-space: pre;white-space: pre-wrap;word-wrap: break-word;}
blockquote,q {-webkit-hyphens: none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none;quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: "";content: none;}
blockquote {font-style: normal;font-weight: 400;line-height: 1.30;margin: 24px 0;}
blockquote cite,blockquote small {color: #2b2b2b;font-size: 16px;font-weight: 400;line-height: 1.5;}
blockquote em,blockquote i,blockquote cite {font-style: normal;}
blockquote strong,blockquote b {font-weight: 400;}
small {font-size: smaller;}
big {font-size: 125%;}
sup,sub {font-size: 75%;height: 0;line-height: 0;position: relative;vertical-align: baseline;}
sup {bottom: 1ex;}sub {top: .5ex;}dl {margin-bottom: 24px;}dt {font-weight: bold;}dd {margin-bottom: 24px;}ul,ol {list-style: none;margin: 0 0 24px 20px;}
ul {list-style: disc;}ol{list-style: decimal;}li > ul,li > ol {margin: 0 0 0 20px;}
img {-ms-interpolation-mode: bicubic;border: 0;vertical-align: middle;}
figure{margin: 0;}fieldset {border: 1px solid rgba(0, 0, 0, 0.1);margin: 0 0 24px;padding: 11px 12px 0;}
legend {white-space: normal;}
button,input,select,textarea {-webkit-box-sizing: border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size: 100%;margin: 0;max-width: 100%;vertical-align: baseline;}
button,input {line-height: normal;}
input,textarea {background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0));text-align: inherit;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance: button;cursor: pointer;}
button[disabled],input[disabled] {cursor: default;}
input[type="checkbox"],input[type="radio"] {padding: 0;}
input[type="search"] {-webkit-appearance: textfield;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}
textarea {overflow: auto;vertical-align: top;}
table,th,td {border: 1px solid rgba(0, 0, 0, 0.1);}
table {border-collapse: separate;border-spacing: 0;border-width: 1px 0 0 1px;width: 100%;}
caption,th,td { font-weight: normal;text-align: left;}th {border-width: 0 1px 1px 0;font-weight: bold;}
td {border-width: 0 1px 1px 0;}del {color: #767676;}hr {background-color: rgba(0, 0, 0, 0.1);border: 0;height: 1px;margin-top: 20px; margin-bottom: 30px;}
::selection {background: #087be3;color: white;text-shadow: none;}
::-moz-selection {background: #087be3;color: white;text-shadow: none;}
ul,li {list-style: none;margin: 0;padding: 0;}
mark, ins {background: transparent; text-decoration: none;}
.clear{clear: both;}
.hidden{display: none !important;}