.view {
  height: 100%;
  background: white;
  font-size: 14px;
  &__wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;
  }

  /* Background image */
  &--backimg {
    background: transparent;
  }

  /* Permissions views */
  &--permission {
    opacity: 0;
    transition: opacity 250ms ease;
    &.is-active {
      opacity: 1;
    }

    .view__wrap {
      justify-content: flex-end;
    }

    .view__text {
      flex: 0 1 auto;
      padding: 25px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .permission {
        margin-bottom: 26px;
        font-weight: 300;
        font-size: 16px;
      }
    }
  }
}

