<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
    <title>BMW Virtual Viewer</title>
    <meta name="description" content="Discover next-generation hybrid technology with the new BMW Virtual Viewer. Find your favourite BMW Plug-in Hybrid and see what it looks like in your driveway">
    <meta property="og:title" content="BMW Virtual Viewer | BMW UK"/>
    <meta property="og:description" content="Discover next-generation hybrid technology with the new BMW Virtual Viewer. Find your favourite BMW Plug-in Hybrid and see what it looks like in your driveway"/>
    <meta property="og:image" content="/img/meta-tag-image.jpg"/>
    <meta property="og:url" content="https://bmwvirtualviewer.co.uk/"/>

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#1c69d4">
    <meta name="msapplication-TileColor" content="#1c69d4">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://bmw-eprivacy-staging.thisissecure.net/static/bmw-eprivacy-bundle.css">
    <script defer src="https://bmw-eprivacy-staging.thisissecure.net/static/bmw-eprivacy-bundle.js"> </script>
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-76336656-9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-76336656-9');
    </script>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-N3VBJSH');
    </script>
    <style>      
      #bmw-eprivacy-banner__message {
        padding-right: 20px !important;
      }

      @media (max-width: 370px) {
        #bmw-eprivacy-banner__message {
          font-size: 13px !important;
        }
      }

      @media (max-height: 330px) {
        #bmw-eprivacy-banner__message {
          font-size: 13px !important;
        }
      }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r118/three.min.js"></script>
    <script src="/armanager/bundle.js"></script>
  </head>
  <body>
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N3VBJSH" height="0" width="0" style="display:none;visibility:hidden"></iframe>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <canvas id="camerafeed"></canvas>
    <a id="photodownload"></a>
    <div id="app"></div>
    <div id="bmw-eprivacy-banner" data-client="bmw-discover" ></div>
  </body>
</html>
