<template>
  <div class="root">
    <div class="tooltip" :class="{active: tooltipVisible && isActive}" @click="hideTooltip">
      Click here to scale
      <br/>
      your BMW to its real size.
    </div>
    <div class="scale-button" :class="{'is-active': isActive}">
      <div class="wrap" @click="startRealScale" >
        <RulerIcon class="icon" />
      </div>
    </div>
  </div>
</template>

<script>
import RulerIcon from '../icons/RulerIcon.vue';

export default {
  components: { RulerIcon },
  name: 'ScaleButtonComponent',
  props: {
    isActive: {
      type: Boolean,
      required: true,
      default: false,
    },
  },
  data() {
    return {
      tooltipVisible: false,
    };
  },
  computed: {
    lastIntent() {
      return this.$store.getters.getLastIntent;
    },
    currentAudio() {
      return this.$store.getters['PlayerState/getCurrentAudio'];
    },
  },
  methods: {
    startRealScale() {
      this.$store.dispatch('analyticsEventHit', {
        category: 'ALL', action: 'Click', event: 'True Scale Model', label: 'True Scale',
      });
      this.tooltipVisible = false;
      this.$store.dispatch('stopCurrentInteraction');
      this.$store.dispatch('WebGLState/startRealScale');
      this.$store.dispatch('launchEvent', '13_3');
    },
    hideTooltip() {
      this.tooltipVisible = false;
    },
  },
  watch: {
    currentAudio(current) {
      if (this.lastIntent === '4.5' && current !== undefined) {
        this.tooltipVisible = true;
      } else if (this.tooltipVisible) {
        this.hideTooltip();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
$button-size: 44px;
$small-button-size: 36px;
$icon-size: 24px;
$small-icon-size: 20px;

.scale-button {
  position: absolute;
  bottom: -300px;
  left: 26px;
  width: $button-size;
  z-index: 9999999;
  transition: bottom 250ms ease;

  &.is-active {
    bottom: 30px;
  }
}

.wrap {
  width: $button-size;
  height: $button-size;
  border-radius: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: $icon-size;
  height: $icon-size;
  color: #4d4d4d;
}

.tooltip {
  z-index: 9999999999;
  position: absolute;
  left: 20px;
  bottom: 110px;
  background: white;
  padding: 10px 30px;
  border-radius: 15px;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  transition: opacity 500ms;
  animation: floating 2s infinite;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;
    box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.3);
    z-index: -2;
  }

  &::after {
    content: '';
    position: absolute;
    left: 12.5%;
    top: calc(100% - 18px);
    width: 24px;
    height: 24px;
    transform: translateX(-50%) rotate(45deg);
    background: linear-gradient(135deg, transparent 50%, white 50%);;
    box-shadow: 1px 1px 3px -2px rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
}

@media (min-width: 813px) and (orientation: landscape) {
  .tooltip {
    display: none;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 813px) and (orientation: landscape) {
  .scale-button {
    left: auto;
    right: 92px;
  }
}

@media (min-width: 813px) {
  .scale-button {
    left: 26px;
    right: unset;
  }
}

@media only screen and (max-width: 370px) {
  .scale-button {
    left: 20px;

    &.is-active {
      bottom: 24px;
    }
  }

  .wrap {
    width: $small-button-size;
    height: $small-button-size;
  }

  .icon {
    width: $small-icon-size;
    height: $small-icon-size;
  }

  .tooltip {
    left: 16px;
    bottom: 90px;

    &::after {
      left: 10.5%;
    }
  }
}

</style>
