<!-- eslint-disable -->
<template>
  <svg
    id="logobmw"
    class="logobmw"
    :class="[logoClass]"
    @click="goToHome()"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    width="2500"
    height="2500"
    viewBox="38.771 40.433 292.87 292.87">
      <circle class="logobmw__border" r="141.935" cy="186.868" cx="185.206" />
      <circle class="logobmw__background" r="86.769707" cy="186.87401" cx="185.25301"/>
      <path class="logobmw__slice" d="m98.458 186.874h86.795v-86.784h-.006c-47.932.002-86.786 38.853-86.789 86.784z" />
      <path class="logobmw__slice" d="m271.979 186.83h-86.795v86.841h.006c47.931-.002 86.786-38.91 86.789-86.841z" />
      <path class="logobmw__letters" d="m285.774 106.62-19.341 12.795 9.152-17.801c-2.379-2.811-5.981-5.766-5.981-5.766l-17.656 8.865 12.956-18.997c-2.151-1.806-4.64-3.308-7.027-5.119l-18.134 28.285s3.434 2.02 7.636 5.9l18.767-9.708-9.83 18.471c2.211 2.335 4.179 5.164 6.227 7.689l28.564-17.667c-.001 0-1.749-2.748-5.333-6.947zm-98.555-19.286 8.703-19.231.787 24.38c3.505.156 8.676 1.475 8.676 1.475l-1.562-34.531c-6.563-.954-11.8-1.215-11.8-1.215l-8.385 20.859-8.188-20.691s-5.408.527-11.972 1.48l-1.571 34.797s5.181-1.499 8.686-1.654l.74-24.753 8.725 19.083h7.161zm-73.657 11.306.001-.035a8.708 8.708 0 0 0 -2.553-8.739c-3.531-3.221-8.791-3.33-14.404 2.272 0 0-10.346 10.374-17.355 20.534l25.171 22.955 18.97-21.267c4.127-4.559 4.288-11.016.513-14.461-2.823-2.57-6.915-2.935-10.343-1.259zm-24.28 12.338c8.917-11.046 12.487-14.065 12.487-14.065 2.338-2.023 4.067-2.2 5.47-.921 1.404 1.278 1.227 3.764-.393 5.55l-12.603 13.958zm28.336-.928-13.236 14.695-4.975-4.536 13.237-14.694c1.618-1.787 4.046-2.223 5.42-.97s1.173 3.719-.446 5.505z" />
  </svg>
</template>

<script>
export default {
  name: 'LogoComponent',
  computed: {
    logoClass() {
      return this.$store.getters.getLogoClass;
    },
  },
  methods: {
    goToHome() {
      this.$store.dispatch('analyticsEventHit', {
        category: 'ALL', action: 'Click', event: 'Click on Roundel', label: 'Roundel',
      });
      window.location.href = '/';
    },
  },
};
</script>

<style lang="scss">
.logobmw {
  width: 38px;
  height: auto;
  z-index: 999999999;
  &__border {
    stroke-width: 9;
    stroke: #6f6e6f;
    fill: none;
  }
  &__background {
    fill: #ffffff;
    stroke-width: 0;
  }
  &__slice {
    fill: #0066ad;
  }
  &__letters {
    fill: #6f6e6f;
  }

  &.white {
    .logobmw__border {
      stroke: #fff;
    }
    .logobmw__letters {
      fill: #fff;
    }
  }
}

@media only screen and (min-width: 370px) {
  .logobmw {
    width: 45px;
  }
}
</style>
