<!-- eslint-disable -->
<template>
<div>
    <svg class="logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="31 32 285.5 100.5" style="enable-background:new 0 0 328.3 173.5;" xml:space="preserve">
    
    <g id="Loading-screen-" transform="translate(-103.000000, -486.000000)">
    	<g id="Group-2" transform="translate(103.000000, 486.000000)">
    		<g transform="translate(0.000000, 42.000000)">
    			<g>
    				<path class="st0" d="M40.5,60.3c0.8-0.9,1.1-2.2,1.1-3.8c0-1.7-0.4-3-1.1-3.9s-1.8-1.4-3.1-1.4s-2.4,0.3-3.2,1.3
    					s-1.1,2.2-1.1,3.9c0,1.7,0.4,3,1.1,3.9s1.8,1.4,3.1,1.4C38.7,61.6,39.7,61.2,40.5,60.3 M40.5,50.5c0.9,0.6,1.5,1.3,2,2.4
    					c0.5,1,0.7,2.2,0.7,3.5s-0.2,2.5-0.7,3.5s-1.1,1.8-2,2.3c-0.9,0.5-1.9,0.8-3,0.8c-1,0-1.9-0.2-2.7-0.7s-1.3-1.1-1.7-2v6.6
    					c0,0.2-0.1,0.4-0.2,0.6c-0.1,0.2-0.3,0.2-0.6,0.2c-0.3,0-0.4-0.1-0.6-0.2c-0.1-0.1-0.2-0.3-0.2-0.6V50.6c0-0.2,0.1-0.4,0.2-0.6
    					c0.2-0.2,0.3-0.2,0.6-0.2c0.3,0,0.4,0.1,0.6,0.2c0.1,0.2,0.2,0.3,0.2,0.6v1.8c0.4-0.9,1-1.5,1.7-2c0.7-0.5,1.7-0.7,2.7-0.7
    					C38.7,49.7,39.7,50,40.5,50.5"/>
    				<path id="Fill-3" class="st0" d="M55.5,60.3c0.7-0.9,1.1-2.2,1.1-3.9c0-1.7-0.4-3-1.1-3.9c-0.8-0.9-1.8-1.4-3.1-1.4
    					s-2.4,0.5-3.1,1.4s-1.1,2.2-1.1,3.9c0,1.7,0.4,3,1.1,3.9s1.8,1.4,3.1,1.4C53.7,61.7,54.7,61.2,55.5,60.3 M49.2,62.2
    					c-0.9-0.5-1.6-1.3-2.1-2.3s-0.7-2.2-0.7-3.5s0.2-2.5,0.7-3.5s1.2-1.8,2.1-2.3c0.9-0.5,1.9-0.8,3.1-0.8s2.2,0.3,3.1,0.8
    					c0.9,0.5,1.6,1.3,2.1,2.3s0.7,2.2,0.7,3.5s-0.2,2.5-0.7,3.5s-1.2,1.8-2.1,2.3c-0.9,0.5-1.9,0.8-3.1,0.8
    					C51.2,63.1,50.1,62.8,49.2,62.2"/>
    				<path id="Fill-5" class="st0" d="M80.5,49.8c0.2,0,0.4,0.1,0.6,0.2s0.2,0.3,0.2,0.5c0,0,0,0.1-0.1,0.3l-4.4,11.6
    					c-0.1,0.2-0.2,0.3-0.4,0.5c-0.2,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.4-0.1-0.5-0.2c-0.2-0.1-0.3-0.3-0.4-0.5l-3.9-10.1l-3.9,10.1
    					c-0.1,0.2-0.2,0.3-0.4,0.5c-0.2,0.1-0.3,0.2-0.5,0.2c-0.2,0-0.4-0.1-0.5-0.2c-0.2-0.1-0.3-0.3-0.4-0.5l-4.5-11.5
    					c0-0.1-0.1-0.2-0.1-0.3c0-0.2,0.1-0.4,0.3-0.6s0.4-0.2,0.6-0.2c0.3,0,0.6,0.2,0.7,0.5l3.9,10.5l4-10.4c0.1-0.2,0.2-0.3,0.3-0.5
    					s0.3-0.2,0.5-0.2c0.2,0,0.3,0.1,0.5,0.2c0.2,0.1,0.3,0.3,0.3,0.5l4,10.4l3.9-10.4C79.9,49.9,80.1,49.8,80.5,49.8"/>
    				<path id="Fill-7" class="st0" d="M86.9,52.2c-0.7,0.8-1.2,1.9-1.3,3.3h8.2c0-1.4-0.4-2.5-1.1-3.3C92,51.4,91.1,51,89.9,51
    					C88.6,51,87.6,51.4,86.9,52.2 M94.9,60.3c0.1,0.1,0.2,0.3,0.2,0.5c0,0.4-0.3,0.8-0.9,1.1c-1.3,0.8-2.6,1.1-4,1.1
    					c-2,0-3.5-0.6-4.6-1.8c-1.1-1.2-1.7-2.8-1.7-4.9c0-1.3,0.3-2.5,0.8-3.5s1.2-1.8,2.1-2.4s2-0.8,3.1-0.8c1.7,0,3,0.5,3.9,1.6
    					c1,1.1,1.4,2.5,1.4,4.4c0,0.3-0.1,0.6-0.2,0.7c-0.1,0.2-0.4,0.2-0.7,0.2h-8.8c0.1,1.6,0.5,2.9,1.3,3.7c0.8,0.8,1.9,1.3,3.4,1.3
    					c0.8,0,1.4-0.1,1.9-0.3c0.5-0.2,1.1-0.5,1.6-0.8c0.4-0.3,0.7-0.4,0.8-0.4C94.7,60.1,94.8,60.2,94.9,60.3"/>
    				<path id="Fill-9" class="st0" d="M105.8,49.9c0.1,0.1,0.2,0.3,0.2,0.5c0,0.4-0.3,0.7-0.8,0.7l-0.7,0.1c-1.3,0.1-2.2,0.6-2.8,1.4
    					c-0.6,0.8-0.9,1.7-0.9,2.7v6.9c0,0.3-0.1,0.5-0.2,0.6S100.3,63,100,63s-0.4-0.1-0.6-0.2s-0.2-0.3-0.2-0.6V50.6
    					c0-0.3,0.1-0.5,0.2-0.6c0.2-0.1,0.3-0.2,0.6-0.2c0.2,0,0.4,0.1,0.6,0.2c0.1,0.1,0.2,0.3,0.2,0.6v1.7c0.7-1.5,2.1-2.4,4-2.5h0.4
    					C105.5,49.7,105.7,49.8,105.8,49.9"/>
    				<path id="Fill-11" class="st0" d="M110.6,52.2c-0.7,0.8-1.2,1.9-1.3,3.3h8.2c0-1.4-0.4-2.5-1.1-3.3s-1.6-1.2-2.8-1.2
    					C112.3,51,111.4,51.4,110.6,52.2 M118.7,60.3c0.1,0.1,0.2,0.3,0.2,0.5c0,0.4-0.3,0.8-0.9,1.1c-1.3,0.8-2.6,1.1-4,1.1
    					c-2,0-3.5-0.6-4.6-1.8c-1.1-1.2-1.7-2.8-1.7-4.9c0-1.3,0.3-2.5,0.8-3.5s1.2-1.8,2.1-2.4s2-0.8,3.1-0.8c1.7,0,3,0.5,3.9,1.6
    					c1,1.1,1.4,2.5,1.4,4.4c0,0.3-0.1,0.6-0.2,0.7c-0.1,0.2-0.4,0.2-0.7,0.2h-8.8c0.1,1.6,0.5,2.9,1.3,3.7c0.8,0.8,1.9,1.3,3.4,1.3
    					c0.8,0,1.4-0.1,1.9-0.3c0.5-0.2,1.1-0.5,1.6-0.8c0.4-0.3,0.7-0.4,0.8-0.4C118.4,60.1,118.5,60.2,118.7,60.3"/>
    				<path id="Fill-13" class="st0" d="M131.1,60.3c0.7-0.9,1.1-2.2,1.1-3.9c0-1.7-0.4-3-1.1-3.9s-1.8-1.4-3.1-1.4
    					c-1.4,0-2.4,0.5-3.2,1.4c-0.7,0.9-1.1,2.2-1.1,3.9c0,1.7,0.4,3,1.1,3.9s1.8,1.4,3.1,1.4C129.3,61.6,130.4,61.2,131.1,60.3
    					 M133.6,44.3c0.2,0.2,0.2,0.3,0.2,0.6v17.3c0,0.2-0.1,0.4-0.2,0.6c-0.2,0.2-0.3,0.2-0.6,0.2c-0.3,0-0.4-0.1-0.6-0.2
    					c-0.1-0.2-0.2-0.3-0.2-0.6v-1.8c-0.4,0.9-1,1.5-1.7,2c-0.8,0.5-1.7,0.7-2.7,0.7c-1.1,0-2.1-0.3-3-0.8s-1.5-1.3-2-2.4
    					c-0.5-1-0.7-2.2-0.7-3.5s0.2-2.5,0.7-3.5s1.1-1.8,2-2.3s1.9-0.8,3-0.8c1,0,1.9,0.2,2.7,0.7s1.3,1.1,1.7,2V45
    					c0-0.2,0.1-0.4,0.2-0.6c0.1-0.2,0.3-0.2,0.6-0.2C133.3,44.2,133.4,44.1,133.6,44.3"/>
    				<path id="Fill-15" class="st0" d="M154.8,60.2c0.8-0.9,1.1-2.2,1.1-3.9c0-1.7-0.4-2.9-1.1-3.9c-0.8-0.9-1.8-1.4-3.2-1.4
    					c-1.3,0-2.4,0.5-3.1,1.4s-1.1,2.2-1.1,3.9c0,1.7,0.4,3,1.1,3.9s1.8,1.4,3.1,1.4C153,61.6,154,61.1,154.8,60.2 M154.8,50.5
    					c0.9,0.5,1.5,1.3,2,2.3s0.7,2.2,0.7,3.5s-0.2,2.5-0.7,3.5s-1.1,1.8-2,2.4c-0.9,0.6-1.9,0.8-3,0.8c-1,0-1.9-0.2-2.7-0.7
    					s-1.3-1.1-1.7-2v1.8c0,0.2-0.1,0.4-0.2,0.6c-0.1,0.2-0.3,0.2-0.6,0.2c-0.3,0-0.4-0.1-0.6-0.2c-0.2-0.2-0.2-0.3-0.2-0.6V44.9
    					c0-0.2,0.1-0.4,0.2-0.6c0.2-0.2,0.3-0.2,0.6-0.2c0.3,0,0.4,0.1,0.6,0.2c0.1,0.2,0.2,0.3,0.2,0.6v7.5c0.4-0.9,1-1.5,1.7-2
    					c0.8-0.5,1.7-0.7,2.7-0.7C153,49.7,154,50,154.8,50.5"/>
    				<path id="Fill-17" class="st0" d="M171.5,49.7c0.2,0,0.4,0.1,0.5,0.2s0.2,0.3,0.2,0.5c0,0.1,0,0.2-0.1,0.3l-7.5,16.5
    					c-0.1,0.3-0.4,0.5-0.7,0.5c-0.2,0-0.4-0.1-0.5-0.2c-0.2-0.1-0.2-0.3-0.2-0.5c0-0.1,0-0.2,0.1-0.3l1.9-4.1l-5.4-11.8
    					c-0.1-0.1-0.1-0.2-0.1-0.3c0-0.2,0.1-0.4,0.3-0.5c0.2-0.2,0.4-0.2,0.6-0.2c0.3,0,0.6,0.2,0.7,0.5l4.8,10.7l4.8-10.7
    					C171,49.9,171.2,49.7,171.5,49.7"/>
    			</g>
    			<g>
    				<g>
    					<path class="st1" d="M195.2,45.8c-0.5,0-0.9-0.1-1.4-0.3l-10.2-5.1c-1-0.5-1.7-1.6-1.7-2.7l0-11.6c0-1.1,0.7-2.2,1.7-2.7
    						l10.2-5.1c0.9-0.4,1.9-0.4,2.7,0l10.2,5.1c1,0.5,1.7,1.6,1.7,2.7l0,11.6c0,1.1-0.7,2.2-1.7,2.7l-10.2,5.1
    						C196.2,45.7,195.7,45.8,195.2,45.8z M188.6,36.1l6.2,3.1c0.3,0.1,0.6,0.1,0.9,0l6.2-3.1c0.3-0.2,0.6-0.5,0.6-0.9l0-6.6
    						c0-0.4-0.2-0.7-0.5-0.9l-6.2-3.1c-0.3-0.1-0.6-0.1-0.9,0l-6.2,3.1c-0.3,0.2-0.6,0.5-0.6,0.9l0,6.6
    						C188.1,35.6,188.3,35.9,188.6,36.1z"/>
    					<path class="st1" d="M195.2,67.7c-0.5,0-0.9-0.1-1.4-0.3l-10.2-5.1c-1-0.5-1.7-1.6-1.7-2.7l0-11.6c0-1.1,0.7-2.2,1.7-2.7
    						l10.2-5.1c0.9-0.4,1.9-0.4,2.7,0l10.2,5.1c1,0.5,1.7,1.6,1.7,2.7l0,11.6c0,1.1-0.7,2.2-1.7,2.7l-10.2,5.1
    						C196.1,67.6,195.6,67.7,195.2,67.7z M194.7,46.6l-5.9,3c-0.4,0.2-0.7,0.6-0.7,1.1l0,6.3c0,0.5,0.3,0.9,0.7,1.1l5.9,3
    						c0.4,0.2,0.8,0.2,1.1,0l5.9-3c0.4-0.2,0.7-0.6,0.7-1.1l0-6.3c0-0.5-0.3-0.9-0.7-1.1l-5.9-3C195.4,46.4,195,46.4,194.7,46.6z"/>
    				</g>
    				<g>
    					<path class="st1" d="M223.7,41.8h1.9l2.8,7.2l2.9-7.2h1.9l-3.5,8.6l3.9,9.1l7.3-17.9h2.2l-8.6,20.2h-1.8l-4.2-10l-4.3,10h-1.7
    						l-8.5-20.2h2.1l7.3,17.9l3.8-9.1L223.7,41.8z"/>
    					<path class="st1" d="M252,41.6h1.7l8.4,20.2H260l-2.6-6.3h-9.1l-2.6,6.3h-2.1L252,41.6z M256.9,53.9l-4.1-10l-4.1,10H256.9z"/>
    					<path class="st1" d="M268.3,61.8V41.6h2v18.4h11.7v1.8H268.3z"/>
    					<path class="st1" d="M287.7,61.8V41.6h2v18.4h11.7v1.8H287.7z"/>
    				</g>
    				<path id="path37_9_" class="st1" d="M222.2,26.1l-3.4,0l0,8.7l-2,0l0-8.7l-3.4,0l0-1.8l8.7,0L222.2,26.1z M232.9,24.4l0,10.5
    					l-2,0l0-4.5l-4.8,0l0,4.5l-2,0l0-10.5l2,0l0,4.2l4.8,0l0-4.2L232.9,24.4z"/>
    			</g>
    		</g>
    	</g>
    </g>
    </svg>
</div>

</template>

<script>
export default {
  name: 'PoweredBy8thWall',
};
</script>

<style lang="scss">
.logo {
  width: 120px;
  color: #2D2E43;
  z-index: 999999999;
}

@media only screen and (min-width: 370px) {
  .logo {
    width: 150px;
    padding: 8px 0px 0px 0px;
  }
}
</style>
