<template>
  <div class="modal" :class="{'is-active': isActive}">
    <component v-bind:is="modalContent"></component>
  </div>
</template>

<script>
import Bus from '@/store/bus/Bus';
import ComponentMixin from '@/components/ComponentMixin.vue';
import ModalVisitAntiloop from './content/ModalVisitAntiloop.vue';
import ModalSavedPhoto from './content/ModalSavedPhoto.vue';

export default {
  name: 'ModalComponent',
  extends: ComponentMixin,
  components: {
    ModalVisitAntiloop,
    ModalSavedPhoto,
  },
  mounted() {
    Bus.$on('inactiveModalComponent', () => {
      setTimeout(() => {
        this.$store.dispatch('disableComponent', 'ModalComponent');
      }, 300);
    });
  },
  computed: {
    modalContent() {
      return this.$store.getters.getModalComponent;
    },
  },
  beforeDestroy() {
    Bus.$off('inactiveModalComponent');
  },
};
</script>

<style lang="scss">
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  padding: 0 26px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 250ms ease;

  &.is-active {
    opacity: 1;
  }

  &__wrap {
    background: white;
    margin: 0 auto;
    border-radius: 15px;
    max-width: 300px;
  }

  &__body {
    text-align: center;
    padding: 20px;
    font-weight: 300;
  }

  &__buttons {
    border-top: 1px solid #d4d4d4;
    padding: 10px;
    display: flex;
    justify-content: center;
    color: steelblue;
  }
}
</style>
