<template>
  <div class="root" :class="{'is-active': isActive}">
    <div class="wrap">
      <div class="content">
        <CircularCloseButton class="close-button" @click="dismiss" />

        <div class="texts">{{ currentPageText }}</div>

        <div class="carousel" :class="{'rounded-bottom-corners': !hasAction}">
          <div ref="carousel">
            <div
              v-for="(item, i) in carouselPages"
              :key="i"
              style="width: 100%; height: 200px;"
            >
              <img
                class="carousel-item"
                :src="item.image"
              />
            </div>
          </div>
        </div>

      <div class="divider"
          v-if="hasAction"
      />

        <button
          class="button button--wide rounded-bottom-corners action-button"
          v-if="hasAction"
          @click="executeAction"
        >
          {{actionTitle}}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Flickity from 'flickity';
import ComponentMixin from '@/components/ComponentMixin.vue';
import CircularCloseButton from '../circular-close-button/CircularCloseButton.vue';

export default {
  name: 'InfoPanel',
  extends: ComponentMixin,
  components: {
    CircularCloseButton,
  },
  data() {
    return {
      flick: null,
      showNextPageTimeout: null,
      currentPageIndex: 0,
    };
  },
  computed: {
    currentAudio() {
      return this.$store.getters['PlayerState/getCurrentAudio'];
    },
    lastIntent() {
      return this.$store.getters.getLastIntent;
    },
    props() {
      return this.$store.state.ViewsState.InfoPanel;
    },
    carouselPages() {
      return this.props.pages;
    },
    currentPageText() {
      return this.carouselPages[this.currentPageIndex].text;
    },
    currentPageDuration() {
      return this.carouselPages[this.currentPageIndex].time;
    },
    actionTitle() {
      return this.props.action?.title;
    },
    hasAction() {
      return !!this.props.action;
    },

  },
  mounted() {
    this.flick = new Flickity(this.$refs.carousel, {
      selectedAttraction: 0.2,
      friction: 0.8,
      contain: true,
      wrapAround: true,
      prevNextButtons: false,
      pageDots: false,
      draggable: false,
    });
  },
  methods: {
    showNextPageAfterCurrentDurationElapsed() {
      clearTimeout(this.showNextPageTimeout);
      this.showNextPageTimeout = setTimeout(
        () => { this.showNextPage(); },
        this.currentPageDuration,
      );
    },
    showNextPage() {
      this.flick.next();
    },
    dismiss() {
      this.isActive = false;
      setTimeout(() => {
        this.$store.dispatch('stopCurrentInteraction');
        this.$store.dispatch('setComponentContent', {
          component: 'InfoPanel',
          content: undefined,
        });
        if (typeof this.props?.onDismiss === 'function') {
          this.props.onDismiss();
        }
      }, 250);
    },
    executeAction() {
      this.props.action.onClick();
    },
  },
  beforeDestroy() {
    this.flick.off('change');
  },
};
</script>

<style lang="scss" scoped>
.root {
  pointer-events: none;;
  position: absolute;
  width: 100%;
  bottom: -800px;
  transition: bottom 250ms ease;
  z-index: 9999999999;

  &.is-active {
    bottom: 6px;
  }

  .overlay {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10px;
    z-index: -1;
    left: 0;
  }

  .wrap {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .buttons {
    text-align: right;
  }

  .content {
    pointer-events: all;
    margin: 20px;
    flex: 1;
    max-width: 440px;
    border-radius: 25px;
    background: white;
    position: relative;
  }

  .texts {
    padding: 14px 18px;
    font-size: 14px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
  }

  .carousel {
    height: 200px;
    background: white;
    overflow: hidden;
    &-item {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .rounded-bottom-corners {
    border-radius: 0 0 25px 25px;
  }

  .divider {
    width: 100%;
    height: 3px;
    background-color: white;
  }

  .action-button {
    height: 46px;
  }

  .close-button {
    pointer-events: all;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -60px;
    right: 0px;
  }
}

@media (max-width: 370px) {
  .root {
    .texts {
      padding: 8px 18px;
    }

    .carousel {
      height: 180px;
    }

    .action-button {
      height: 38px;
      font-size: 14px;
    }

    .close-button {
      width: 42px;
      height: 42px;
      top: -46px;
    }
  }
}

@media (max-width: 813px) and (orientation: landscape) {
  .root {
    height: 100%;

    .wrap {
      justify-content: center;
      align-items: center;
    }

    .close-button {
      top: 0px;
      right: -60px;
    }
  }
}

@media (min-width: 813px) {
  .root {
    .wrap {
      justify-content: center;
    }
  }
}

</style>
