<template>
  <div class="root" :class="{'flyin': isActive}">
    <div class="tooltip" :class="{active: tooltipVisible && isActive}" @click="hideTooltip">
      Hold the voice button
      <br/>
      to talk to me
    </div>
    <div class="container">
      <div class="loading" :class="{'visible': waitingForResponseLoadingIndicatorVisible}" />
      <div class="ripple-container" :class="{'visible': isRecording}" ref="rippleContainer">
        <div class="ripple"/>
        <div class="ripple"/>
        <div class="ripple"/>
      </div>
      <div class="button-container">
        <button
          class="button button-reset"
          :class="{'confirm-button': confirmAction, 'close-button': playingCloseableContent}"
          @click.stop="onClick"
          @touchstart.stop="startRecording"
          @mousedown.stop="startRecording"
        >
          <div class="bars-container" :class="{'bars-visible': barsVisible}" />
          <div
            class="inner-ring"
            :class="{'faded-out': !innerRingShouldFade}"
            v-show="innerRingVisible"
          />
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Bus from '@/store/bus/Bus';
import RecordButtonFeedback from '@/util/RecordButtonFeedback';

export default {
  name: 'RecordButtonComponent',
  props: {
    isActive: {
      type: Boolean,
      required: true,
      default: false,
    },
  },
  data() {
    return {
      localRecording: false,
      hadShownTooltip: false,
      tooltipVisible: false,
      rippleEndingTimeout: [],
      currentPressFeedbackPromise: null,
    };
  },
  mounted() {
    document.addEventListener('touchend', this.stopRecording);
    document.addEventListener('mouseup', this.stopRecording);
  },
  beforeDestroy() {
    Bus.$off('chooseCarModel');
    document.removeEventListener('touchend', this.stopRecording);
    document.removeEventListener('mouseup', this.stopRecording);
  },
  computed: {
    hasSeenIntroEvent() {
      return (this.$store.getters.getIntents ?? []).includes('0.1');
    },
    isMuted() {
      return this.$store.getters['PlayerState/getIsMuted'];
    },
    isRecording() {
      return this.$store.getters.getIsRecording;
    },
    isAudioPlaying() {
      const hasCurrentAudio = this.$store.getters['PlayerState/getCurrentAudio'];

      return !this.confirmAction && hasCurrentAudio;
    },
    barsVisible() {
      if (this.isRecording || this.confirmAction || this.playingCloseableContent) {
        return false;
      }

      const isPlaying = this.$store.getters['PlayerState/getIsPlaying'];
      return isPlaying;
    },
    innerRingShouldFade() {
      if (this.isAudioPlaying
        || this.isRecording
        || this.confirmAction
        || this.playingCloseableContent) {
        return false;
      }

      return true;
    },
    innerRingVisible() {
      return this.isActive
         && !this.barsVisible
         && !this.confirmAction
         && !this.playingCloseableContent;
    },
    currentAudio() {
      return this.$store.getters['PlayerState/getCurrentAudio'];
    },
    confirmAction() {
      return this.$store.getters.getConfirmAction;
    },
    hasConfirmAction() {
      return typeof this.confirmAction === 'function';
    },
    playingCloseableContent() {
      return this.$store.getters.playingCloseableContent;
    },
    waitingForResponseLoadingIndicatorVisible() {
      return this.$store.getters.waitingForResponseLoadingIndicatorVisible;
    },
    isBottomMenuComponentVisible() {
      return this.$store.getters.currentlyVisibleComponents.includes('BottomMenuComponent');
    },
  },
  methods: {
    async startRecording() {
      if (this.confirmAction || this.localRecording || this.playingCloseableContent) {
        return;
      }

      if (window.navigator.vibrate) {
        window.navigator.vibrate(70);
      }

      this.localRecording = true;
      this.$store.dispatch('PlayerState/pause', null);

      this.currentPressFeedbackPromise = RecordButtonFeedback.playPressFeedbackAsync();
      await this.currentPressFeedbackPromise;
      this.$store.dispatch('startRecording');
    },
    async stopRecording() {
      if (this.confirmAction || !this.localRecording || this.playingCloseableContent) {
        return;
      }

      if (this.currentPressFeedbackPromise != null) {
        await this.currentPressFeedbackPromise;
      }

      setTimeout(() => {
        this.localRecording = false;
        this.$store.dispatch('stopRecording');
      }, 500);
      setTimeout(async () => {
        await RecordButtonFeedback.playReleaseFeedbackAsync();
        this.$store.dispatch('PlayerState/resume', null);
      }, 1000);
    },
    hideTooltip() {
      this.tooltipVisible = false;
    },
    showTooltip() {
      this.hadShownTooltip = true;
      this.tooltipVisible = true;
    },
    onClick() {
      if (this.hasConfirmAction) {
        this.confirmAction();
      } else if (this.playingCloseableContent) {
        this.$store.dispatch('stopCurrentInteraction');
      }
    },
  },
  watch: {
    isRecording(isRecording) {
      const { children } = this.$refs.rippleContainer;
      this.rippleEndingTimeout.forEach((timeout) => clearTimeout(timeout));

      if (isRecording) {
        children.forEach(async (child, index) => {
          child.classList.add(`delayed-grow${index}`);
        });
      } else {
        children.forEach(async (child, index) => {
          this.rippleEndingTimeout.push(setTimeout(() => {
            child.classList.remove(`delayed-grow${index}`);
          }, 1000));
        });
      }
    },
    hasSeenIntroEvent(hasSeenIntroEvent) {
      if (!this.isMuted && hasSeenIntroEvent && !this.hadShownTooltip) {
        this.showTooltip();
        setTimeout(() => {
          this.hideTooltip();
        }, 9000);
      }
    },
    isMuted(muted) {
      if (!muted && this.hasSeenIntroEvent && !this.hadShownTooltip) {
        this.showTooltip();
        setTimeout(() => {
          this.hideTooltip();
        }, 8000);
      }
    },
    isBottomMenuComponentVisible(isVisible) {
      if (isVisible) {
        this.hideTooltip();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
$animation-duration: 250ms;
$ripple-opacity-animation-duration: 100ms;
$ring-expand-animation-duration: 400ms;

$ripple-size: 130px;
$loading-animation-size: 54px;
$outer-ring-size: 52px;
$inner-ring-size: 19px;
$button-size: 44px;
$bars-animation-size: 22px;
$button-expanded-size: 58px;
$action-button-size: 30px;
$button-color: #1c69d4;

.button-reset {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

@mixin svg-background($path, $size) {
  background-image: url($path);
  background-size: $size;
  background-position: center center;
  background-repeat: no-repeat;
}

.root {
  z-index: 999999;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: -500px;
  transition: bottom $animation-duration;

  &.flyin {
    pointer-events: none;
    bottom: -12px;
  }
}

@media (max-width: 813px) and (orientation: landscape) {
  .root {
    width: auto;
    height: 100%;
    right: -200px;
    bottom: unset;
    transition: right $animation-duration;

    &.flyin {
      right: -16px;
      bottom: unset;
    }
  }
}

.tooltip {
  position: absolute;
  top: -54px;
  background: white;
  padding: 10px 30px;
  border-radius: 15px;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  transition: opacity 500ms;
  animation: floating 2s infinite;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;
    box-shadow: 0 1px 4px -2px rgba(0, 0, 0, 0.3);
    z-index: -2;
  }

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: calc(100% - 14px);
    width: 24px;
    height: 24px;
    transform: translateX(-50%) rotate(45deg);
    background: linear-gradient(135deg, transparent 50%, white 50%);;
    box-shadow: 1px 1px 3px -2px rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
}

@media (max-width: 813px) and (orientation: landscape) {
  .tooltip {
    display: none;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $ripple-size;
  height: $ripple-size;
  pointer-events: none;
}

.ripple-container {
  position: absolute;
  width: $ripple-size;
  height: $ripple-size;
  transition: opacity 1000ms;
  opacity: 0;
  pointer-events: none;

  & > div {
    opacity: 0;
  }

  &.visible {
    opacity: 1;
  }
}

.ripple {
  border-radius: 100%;
  z-index: 1;
  position: absolute;
  width: $ripple-size;
  height: $ripple-size;
  background: #1c69d433;
  transition: opacity $ripple-opacity-animation-duration;
  opacity: 0;
  pointer-events: none;
}

.delayed-grow0 {
  animation: grow linear 1200ms infinite 0ms;
}

.delayed-grow1 {
  animation: grow linear 1200ms infinite 400ms;
}

.delayed-grow2 {
  animation: grow linear 1200ms infinite 800ms;
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }
  10% {
    opacity: 0.7;
    transform: scale(0.4);
  }
  70% {
    opacity: 1;
    transform: scale(0.8);
  }
  90% {
    opacity: 0.2;
    transform: scale(0.9);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.loading {
  z-index: 1;
  position: absolute;
  width: $loading-animation-size;
  height: $loading-animation-size;
  opacity: 0;
  animation: rotate linear 1000ms infinite;
  transition: opacity $animation-duration;
  @include svg-background(
    "/animations/chatbot-loading.svg",
    $loading-animation-size
  );

  &.visible {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $button-size;
  height: $button-size;
  transition: width $animation-duration,
    height $animation-duration,
    background-color $animation-duration;
  background-color: $button-color;
  border-radius: 100%;
  pointer-events: all;
  cursor: pointer;

  &.confirm-button {
    width: $button-expanded-size;
    height: $button-expanded-size;
    @include svg-background("/icons/check.svg", $action-button-size);
  }

  &.close-button {
    width: $button-expanded-size;
    height: $button-expanded-size;
    @include svg-background("/icons/cross.svg", $action-button-size);
    background-color: #1e2125;
  }

  .bars-container {
    position: absolute;
    height: $bars-animation-size;
    width: $bars-animation-size;
    @include svg-background(
      "/animations/chatbot-talking-animation.svg",
      $bars-animation-size
    );
    transition: opacity $animation-duration, transform $animation-duration;
    transform: scaleY(0);
    opacity: 0;

    &.bars-visible {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.inner-ring {
  width: $inner-ring-size;
  height: $inner-ring-size;
  box-sizing: inherit;
  border-radius: 100%;
  border: 2px solid white;
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms ease-out 250ms,
    transform $ring-expand-animation-duration ease-out 250ms;

  &.faded-out {
    opacity: 0;
    transform: scale(1.5);
  }
}

@media only screen and (max-width: 370px) {
  .root {
    &.flyin {
      bottom: -18px;
    }
  }
}

</style>
