<template>
  <div class="marquee" :style="durationStyle" :class="{'is-active': isActive}">
    <p>{{content}}</p>
  </div>
</template>

<script>
export default {
  name: 'LegalTermsComponent',
  props: {
    isActive: {
      type: Boolean,
      required: true,
      default: false,
    },
  },
  data() {
    return {
      killTimeout: null,
    };
  },
  computed: {
    content() {
      return this.$store.state.ViewsState.LegalTermsComponent?.content;
    },
    duration() {
      return this.$store.state.ViewsState.LegalTermsComponent?.duration;
    },
    durationStyle() {
      return {
        '--duration': `${this.duration}ms`,
      };
    },
  },
  watch: {
    content() {
      clearTimeout(this.killTimeout);
      this.killTimeout = setTimeout(() => {
        this.$store.dispatch('setComponentContent', {
          component: 'LegalTermsComponent',
          content: null,
        });
        this.$store.dispatch('disableComponent', 'LegalTermsComponent');
      }, this.duration);
    },
  },
  beforeDestroy() {
    clearTimeout(this.killTimeout);
  },
};
</script>

<style lang="scss" scoped>
.marquee {
  padding: 0px 8px;
  width: 100%;
  height: 26px;
  position: fixed;
  bottom: 0;
  left: 0;
  color: white;
  background: rgba(50, 50, 50, 0.15) ;
  pointer-events: none;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 9999;
  opacity: 0;
  transition: opacity 600ms ease;
  &.is-active {
    opacity: 1;

    p {
      font-size: 12px;
      display: inline-block;
      position: relative;
      bottom: 2px;
      padding-left: 100%;
      animation: marquee calc(var(--duration)) linear infinite;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
</style>
