<template>
  <div class="externallink" :class="{'is-active': isActive}">
    <div class="externallink__wrap">
      <button
        @click="openExternalLink"
        class="button button--wide">{{ externalLinkTitle }}</button>
    </div>
  </div>
</template>

<script>
import Bus from '@/store/bus/Bus';
import ComponentMixin from '@/components/ComponentMixin.vue';

export default {
  name: 'ExternalLink',
  extends: ComponentMixin,
  data() {
    return {
      hideTimeout: null,
    };
  },
  computed: {
    externalLinkProps() {
      return this.$store.state.ViewsState.ExternalLink;
    },
    externalLinkTitle() {
      return this.externalLinkProps.title;
    },
    externalLink() {
      return this.externalLinkProps.url;
    },
  },
  methods: {
    openExternalLink() {
      this.$store.dispatch('analyticsEventHit', {
        category: 'ALL', action: 'Click', event: 'Click on Outbound Link', label: this.externalLink,
      });
      const newWindow = window.open(this.externalLink, '_blank');
      newWindow.focus();
    },
    async hideExternalLink() {
      Bus.$emit('inactiveExternalLink');
      await new Promise((resolve) => { setTimeout(() => resolve(), 300); });
      this.$store.dispatch('disableComponent', 'ExternalLink');
    },
  },
  watch: {
    externalLinkProps: {
      immediate: true,
      async handler(props) {
        if (!props) {
          clearTimeout(this.hideTimeout);
          this.hideExternalLink();
          return;
        }

        if (this.externalLinkProps?.duration) {
          clearTimeout(this.hideTimeout);
          this.hideTimeout = setTimeout(async () => {
            this.hideExternalLink();
          }, this.externalLinkProps?.duration);
        }
      },
    },
  },
  beforeDestroy() {
    clearTimeout(this.hideTimeout);
    this.hideTimeout = null;
  },
};
</script>

<style lang="scss" scoped>
.externallink {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  transition: bottom 250ms ease-in-out;
  z-index: 99999;

  &.is-active {
    bottom: 130px;
  }

  &__wrap {
    text-align: center;
    padding: 0 26px;
  }
}
</style>
