<template>
  <div class="loadingcom" :class="{ 'is-active': isActive }">
    <div class="loadingcom__wrap">
      <div class="loadingcom__img">
        <img src="/img/loading.svg" alt="loading" />
      </div>
      <div class="loadingcom__text">Loading {{ selectedModel.name }}</div>
      <div class="loadingcom__bar">
        <div class="background"></div>
        <div class="fill" :style="{ width: `${progress}%` }"></div>
      </div>
      <div class="loadingcom__percent">{{ progress }}%</div>
    </div>
  </div>
</template>

<script>
import Bus from '@/store/bus/Bus';
import ComponentMixin from '@/components/ComponentMixin.vue';

export default {
  name: 'ModelLoadingIndicator',
  extends: ComponentMixin,
  data() {
    return {
      progress: 1,
    };
  },
  computed: {
    selectedModel() {
      return this.$store.getters.getSelectedModel;
    },
  },
  mounted() {
    Bus.$on('onHDCarLoadProgress', (progress) => {
      if (!isNaN(progress)) {
        this.progress = Math.round(progress);
        if (this.progress < 1) {
          this.progress = 1;
        }
      } else {
        this.progress = progress;
      }
    });
  },
  beforeDestroy() {
    Bus.$off('onHDCarLoadProgress');
  },
};
</script>

<style lang="scss">
.loadingcom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  opacity: 0;
  transition: opacity 250ms ease;
  pointer-events: none;
  &.is-active {
    opacity: 1;
  }

  &__wrap {
    text-align: center;
  }

  &__img {
    img {
      width: 40px;
      height: auto;
    }
  }

  &__text {
    margin-top: 20px;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    font-size: 20px;
  }

  &__bar {
    height: 10px;
    position: relative;
    width: 120px;
    margin: 4px auto;

    .fill,
    .background {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-radius: 5px;
    }
    .fill {
      background: #1c69d4;
      transition: width 100ms ease;
    }
    .background {
      background: #f4f4f4;
      width: 100%;
    }
  }

  &__percent {
    color: #1c69d4;
    font-size: 14px;
  }
}
</style>
