<!-- eslint-disable max-len -->
<template>
  <div class="settingsbutton" :class="{'is-active': isActive}">
    <div class="settingsbutton__wrap" @click="toggleSettingsMenu">
      <SettingsIcon class="icon"/>
    </div>
  </div>
</template>

<script>
import Bus from '@/store/bus/Bus';
import ComponentMixin from '@/components/ComponentMixin.vue';
import SettingsIcon from '../icons/SettingsIcon.vue';

export default {
  components: { SettingsIcon },
  name: 'SettingsButtonComponent',
  extends: ComponentMixin,
  computed: {
    isPersoMenuActive() {
      const components = this.$store.getters.getCurrentComponents || [];
      return components.indexOf('BottomMenuComponent') > -1
        && this.$store.getters.getBottomMenuComponent === 'BottomMenuPersonalization';
    },
  },
  methods: {
    toggleSettingsMenu() {
      this.$store.dispatch('analyticsEventHit', {
        category: 'ALL', action: 'Click', event: 'Click on Filter', label: 'Filter',
      });

      this.$store.dispatch('disableComponent', 'ExternalLink');

      if (!this.isPersoMenuActive) {
        this.$store.dispatch('setComponentContent', {
          component: 'BottomMenuComponent',
          content: 'BottomMenuPersonalization',
        });
        this.$store.dispatch('enableComponent', 'BottomMenuComponent');
      } else {
        Bus.$emit('inactiveBottomMenuComponent');
      }
    },
  },
};
</script>

<style lang="scss">
$button-size: 44px;
$svg-size: 20px;
$small-button-size: 36px;
$small-svg-size: 16px;

.settingsbutton {
  position: absolute;
  bottom: -300px;
  right: 26px;
  width: $button-size;
  z-index: 9999999;
  transition: bottom 250ms ease;
  &.is-active {
    bottom: 30px;
  }

  &__wrap {
    width: $button-size;
    height: $button-size;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      color: #4d4d4d;
      width: $svg-size;
      height: $svg-size;
    }
  }
}

@media only screen and (max-width: 370px) {
  .settingsbutton {
    width: $small-button-size;
    right: 20px;

    &.is-active {
      bottom: 24px;
    }

    &__wrap {
      width: $small-button-size;
      height: $small-button-size;
      .icon {
        width: $small-svg-size;
        height: $small-svg-size;
      }
    }
  }
}

</style>
