<template>
  <div class="devmenu" :class="{'is-active': isActive, 'is-expanded': isViewMenuActive}">
    <div class="devmenu__wrap">

      <div class="devmenu__main">

        <div class="row">
          <input v-model="customLaunchText" @click="selectText" class="custom-input">
          <button @click="launchCustomText(customLaunchText)">launchText</button>
        </div>
        <div class="row">
          <input v-model="customLaunchEventId" @click="selectText" class="custom-input">
          <button @click="launchCustomEventId(customLaunchEventId)">launchEvent</button>
        </div>
        <div class="row">
          <button @click="launchCustomText('power modes')">Power modes</button>
          <button @click="launchCustomText('range')">Range</button>
          <button @click="launchCustomText('charging')">Charging</button>
          <button @click="launchCustomText('savings')">Savings</button>
          <div style="width: 6px; height: 0px;" />
          <button @click="launchCustomText('19')">19</button>
          <button @click="launchCustomText('6000')">6000</button>
          <button @click="launchCustomText('yes')">Yes</button>
          <button @click="launchCustomText('no')">No</button>
          <div style="width: 6px; height: 0px;" />
          <button @click="launchCustomText('qweqwe')">qweqwe</button>
          <button @click="launchCustomText('photo')">Photo</button>
        </div>
        <div class="row">
          <span>14_3_</span>
          <button @click="launchCustomText('lighting')">2)lighting</button>
          <button @click="launchCustomText('parking')">3)parking</button>
          <button @click="launchCustomText('How do you charge the car?')">4)charging</button>
          <button @click="launchCustomText('Does the car have a voice assistant?')">
            (5)assistant
          </button>
          <button @click="launchCustomText('How does the head-up display work?')">
            (6)display
          </button>
          <button @click="launchCustomText('Gesture Control')">7)gesture</button>
          <button @click="launchCustomText('Sound System')">8)sound</button>
          <button @click="launchCustomText('Navigation')">9)navigation</button>
          <button @click="launchCustomText('Connected Music')">10)music</button>
          <button @click="launchCustomText('Efficiency and Emissions')">11)emissions</button>
          <button @click="launchCustomText('Traffic Updates')">12)traffic</button>

        </div>

        <div v-if="selectedModel">
          <h4>Model</h4>
          <span class="strong">selected model:</span> <span>{{selectedModel.model}}</span>
        </div>

        <h4>Dialogflow</h4>
        <div>
          <span class="strong">
            current contexts:
          </span> <span v-for="(v, i) in contexts" :key="i">{{v}}, </span>
        </div>
        <div>
          <span class="strong">
            last record:
          </span>
          <div v-if="lastRecord" class="row">
            <button @click="playRecord">Play</button>
            <a id="recorddownload"></a>
            <button @click="downloadRecord">
              Download ("{{lastRecognizedRecordingText}}" - {{Math.round(lastRecord.size/1024)}} kb)
            </button>
          </div>
        <div>
        </div>
          <span class="strong">
            recognized:
          </span>
          <p
            v-for="(text, i) in recognizedRecordings"
            :key="i"
            class="recognized-text"
            :class="{'highlight': i === 0}">
            "{{text}}"
          </p>
        </div>
        <div>
          <span class="strong">
            last intent:
          </span> <span>{{lastIntent}}</span>
        </div>
        <div>
          <span class="strong">
            seen intents:
          </span> <span v-for="(v, i) in intents" :key="i">{{v}}, </span>
        </div>
        <div>
          <span class="strong">
            last request:
          </span> <span>{{lastRequest}}</span>
        </div>
        <div>
          <span class="strong">
            Got "Sorry I didn't understand that" (0.0.0) when:
          </span>
          <div
            class="invalid-intent-container"
            v-for="(invalidState, index) in invalidStateObjects"
            :key="index">
             <div>Last intent was --> {{invalidState.lastIntentBeforeInvalidState}}</div>
             <div>Contexts were ---> {{invalidState.contextsBeforeInvalidState}}</div>
             <div>Then requested --> {{invalidState.lastRequest}}</div>
          </div>
        </div>
        <div>
          <span class="strong">
            sended requests:
          </span> <span v-for="(v, i) in requests" :key="i">{{v}}, </span>
        </div>

        <div v-if="lastResponse && lastResponse.data">
          <details>
          <summary>last response</summary>
          <pre class="last-response" v-if="lastResponse.data.query_result">
            {{lastResponse.data.query_result}}
          </pre>
          </details>
        </div>

        <h4>Views</h4>
        <div>
          <span class="strong">current view:</span> <span>{{currentView}}</span>
        </div>
        <div>
          <span class="strong">views:</span> <span
            v-for="(v, i) in views"
            :key="i"
            @click="goToView(v.name)"><a>{{v.name}}</a>, </span>
        </div>
        <div>
          <span class="strong">
            seen views:
          </span> <span v-for="(v, i) in seenViews" :key="i">{{v}}, </span>
        </div>

        <h4>Components</h4>
        <div>
          <span class="strong">
            active components:
          </span> <span v-for="(v, i) in currentComponents" :key="i">{{v}}, </span>
        </div>
        <div>
          <span class="strong">
            seen contents:
          </span> <span v-for="(v, i) in seenContents" :key="i">{{v}}, </span>
        </div>
        <div>
          <span class="strong">current audio:</span> <span>{{currentAudio}}</span>
        </div>

        <h4>WebGL</h4>
        <div>
          <span class="strong">
            current animation:
          </span> <span>{{currentAnimationId}}</span>
        </div>
        <div>
          <span class="strong">
            seen animations:
          </span> <span v-for="(v, i) in animations" :key="i">{{v}}, </span>
        </div>
      </div>

      <div class="devmenu__launch">
        <button @click="toggleMenu()"></button>
      </div>

    </div>
  </div>
</template>

<script>
import { views } from '@/constants';
import PlayerService from '@/store/player/PlayerService';
import ComponentMixin from '@/components/ComponentMixin.vue';

export default {
  name: 'DevMenuComponent',
  extends: ComponentMixin,
  data() {
    return {
      isViewMenuActive: false,
      views,
      customLaunchEventId: '13_1',
      customLaunchText: 'Can I change the color?',
    };
  },
  computed: {
    seenViews() {
      return this.$store.getters.getSeenViews;
    },
    currentComponents() {
      return this.$store.getters.getCurrentComponents;
    },
    seenContents() {
      return this.$store.getters.getSeenContents;
    },
    currentAudio() {
      return this.$store.getters['PlayerState/getCurrentAudio'];
    },
    selectedModel() {
      return this.$store.getters.getSelectedModel;
    },
    contexts() {
      const contexts = this.$store.getters.getContexts;
      return contexts.map((d) => {
        const names = d.name.split('/');
        return `${names[names.length - 1]}: ${d.lifespanCount}`;
      });
    },
    intents() {
      return this.$store.getters.getIntents;
    },
    requests() {
      return this.$store.getters.getRequests;
    },
    lastResponse() {
      return this.$store.getters.getLastResponse;
    },
    lastRequest() {
      return this.$store.getters.getLastRequest;
    },
    lastIntent() {
      return this.$store.getters.getLastIntent;
    },
    currentView() {
      return this.$store.getters.getCurrentView;
    },
    lastRecord() {
      return this.$store.getters.getLastRecord;
    },
    invalidStateObjects() {
      return this.$store.state.ApiState.invalidStateObjects;
    },
    currentAnimationId() {
      return this.$store.getters['WebGLState/currentAnimationId'];
    },
    animations() {
      return this.$store.getters['WebGLState/seenAnimations'];
    },
    recognizedRecordings() {
      return this.$store.state.ApiState.recognizedRecordings;
    },
    lastRecognizedRecordingText() {
      return this.recognizedRecordings[0];
    },
  },
  methods: {
    toggleMenu() {
      this.isViewMenuActive = !this.isViewMenuActive;
    },
    goToView(viewName) {
      this.$store.dispatch('setViewByName', viewName);
    },
    playRecord() {
      PlayerService.playBlob(this.lastRecord);
    },
    downloadRecord() {
      const downloadLink = document.getElementById('recorddownload');

      const reader = new FileReader();
      reader.readAsDataURL(this.lastRecord);
      reader.onloadend = () => {
        const base64data = reader.result;
        const fileName = this.lastRecognizedRecordingText;
        downloadLink.setAttribute('download', `${fileName}.wav`);
        downloadLink.setAttribute('href', base64data, 'name.wav');
        downloadLink.click();
      };
    },
    launchCustomText(text) {
      this.$store.dispatch('launchText', text);
      this.toggleMenu();
    },
    launchCustomEventId(id) {
      this.$store.dispatch('launchEvent', id);
      this.toggleMenu();
    },
    selectText(event) {
      event.target.select();
    },
  },
};
</script>

<style lang="scss" scoped>
.devmenu {
  position: absolute;
  z-index: 9999999999999999;
  top: 0;
  left: calc(30px - 100%);
  width: 100%;
  transition: left 250ms ease;
  height: 100%;

  input[type="checkbox"] {
    width: 18px;
    height: 18px;
    vertical-align: top;
    display: inline-block;
  }

  &.is-expanded {
    left: 0;
    .devmenu__launch {
      flex-basis: 0;

      button {
        opacity: 1;
        left: -60px;
        max-width: initial !important;
      }
    }
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .custom-input {
    flex: 1;
  }

  h4 {
    margin-top: 30px;
    font-weight: 100;
    font-size: 24px;
  }

  .strong {
    font-weight: 700;
  }

  &__wrap {
    height: 100%;
    display: flex;
  }

  &__launch {
    height: 100%;
    flex: 0 0 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;

    button {
      opacity: 0;
      display: block;
      position: absolute;
      left: 20px;
      height: 90px;
      width: 100px;
      border-radius: 100%;
      border: 3px solid #1c69d4;
      &:focus {
        outline: 0;
      }
    }
  }

  &__main {
    max-width: calc(100% - 0px);
    background: rgba(0, 0, 0, 0.9);
    padding: 10px;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 14px;
    word-break: break-word;
    overflow-y: scroll;
    padding: 40px 10px 90px;
    &::-webkit-scrollbar {
      display: none;
    }
    > div {
      margin-bottom: 12px;
    }
  }
}

.last-response {
  font-size: 10px;
}

.recognized-text {
  margin-bottom: 0px !important;
}

.highlight {
  margin-left: 20px;
}

.invalid-intent-container {
  padding-left: 8px;
  padding-bottom: 8px;
}
</style>
