<!-- eslint-disable max-len -->
<template>
  <svg
    class="hamburguer"
    @click="activeMainMenu()"
    xmlns="http://www.w3.org/2000/svg"
    width="82.654"
    height="63"
    viewBox="0 0 82.654 63">
    <g transform="translate(-540.846 -82.5)" stroke="#fff" fill="none" stroke-linecap="round" stroke-width="8">
      <line data-name="Line 164" x1="74.654" transform="translate(544.846 86.5)"/>
      <line data-name="Line 165" x1="74.654" transform="translate(544.846 114.5)"/>
      <line data-name="Line 167" x1="74.654" transform="translate(544.846 141.5)"/>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'MainMenuButtonComponent',
  methods: {
    activeMainMenu() {
      this.$store.dispatch('analyticsEventHit', {
        category: 'ALL', action: 'Click', event: 'Click on Hamburger', label: 'Hamburger',
      });
      this.$store.dispatch('enableComponent', 'MainMenuComponent');
    },
  },
};
</script>

<style lang="scss">
.hamburguer {
  width: 35px;
  height: auto;
  padding: 4px;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  margin-left: 10px;
}

@media only screen and (min-width: 370px) {
  .hamburguer {
    width: 45px;
  }
}
</style>
