<template>
  <div class="modal__wrap">
    <div class="modal__body">
      Your photo has been saved to your files. You can share on social media. Don’t forget to tag
      <span class="highblue">#BMWVirtualViewer</span>
    </div>
  </div>
</template>

<script>
import Bus from '@/store/bus/Bus';

export default {
  name: 'ModalSavedPhoto',
  data() {
    return {
      times: {
        killTimeout: 7000,
      },
    };
  },
  mounted() {
    this.$store.dispatch('launchEvent', '15_2_2');
    setTimeout(() => {
      Bus.$emit('inactiveModalComponent');
    }, this.times.killTimeout);
  },
};
</script>

<style lang="scss">
.highblue {
  color: #1c69d4;
  font-weight: 400;
}
</style>
