<template>
  <div class="modal__wrap">
    <div class="modal__body">
      Visit <a href="https://antiloop.io/">Antiloop Studio</a>
    </div>
    <div class="modal__buttons">
      <span @click="closeModal()">Close</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ModalVisitAntiloop',
  methods: {
    closeModal() {
      this.$store.dispatch('disableComponent', 'ModalComponent');
    },
  },
};
</script>
