<template>
  <div class="view view--permissions view--notallowed" :class="{'is-active': isActive}">
    <div class="view__wrap">
      <div class="view__text">
        <p class="base">
          Access to camera, microphone and motion sensor is required for this BMW experience.
        </p>
        <p class="coloured">
          Please go to your browser settings and grant access to start.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import ComponentMixin from '@/components/ComponentMixin.vue';

export default {
  name: 'PermissionsDisabledComponent',
  extends: ComponentMixin,
};
</script>

<style lang="scss">
.view--notallowed {
  .view__text {
    padding: 0 40px;
    text-align: center;
    font-size: 18px;
    p {
      margin-bottom: 6px;
    }
  }
  .coloured {
    color: #1c69d4;
  }
}
</style>
