<template>
  <div class="view view--permissions view--desktop" :class="{'is-active': isActive}">
    <div class="view__wrap">
      <div class="logo">
        <img src="/img/logo-bmw.svg" alt="BMW">
      </div>
      <div class="text-title">
        This is an augmented reality experience.
      </div>
      <div class="text-subtitle">
        Please use your mobile phone or tablet.
      </div>
    </div>
  </div>
</template>

<script>
import ComponentMixin from '@/components/ComponentMixin.vue';

export default {
  name: 'PermissionsDesktopComponent',
  extends: ComponentMixin,
  created() {
    this.$store.dispatch('disableComponent', 'LogoComponent');
  },
};
</script>

<style lang="scss">
.view--desktop {
  background-color: #F2F2F4;
  .view__wrap {
    text-align: center;
  }

  .logo {
    img {
      width: 48px;
      height: 48px;
    }
  }

  .text-title {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 50px;
  }
  .text-subtitle {
    font-weight: 300;
    font-size: 16px;
    margin-top: 12px;
  }
}
</style>
