<template>
  <div class="view view--permission view--backimg" :class="{'is-active': isActive}">
    <div class="view__wrap">
      <div class="view__text">
        <p class="permission" @click="getPermissions()">
          Provide access to your device's motion for the full augmented reality experience.
        </p>
        <button class="button button--wide" @click="getPermissions()">
          Allow access
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import ComponentMixin from '@/components/ComponentMixin.vue';

export default {
  name: 'PermissionsMotionComponent',
  extends: ComponentMixin,
  created() {
    try {
      if (!this.canRequestOrientation() || !this.canRequestMotion()) {
        this.$store.dispatch('setViewByName', 'car-selection');
      }
    } catch (error) {
      this.$store.dispatch('setViewByName', 'car-selection');
    }
  },
  methods: {
    canRequestOrientation() {
      return typeof DeviceOrientationEvent.requestPermission === 'function';
    },
    canRequestMotion() {
      return typeof DeviceMotionEvent.requestPermission === 'function';
    },
    getPermissions() {
      this.getIOSDeviceOrientation();
      this.getIOSDeviceMotion();
    },
    async getIOSDeviceOrientation() {
      if (!this.canRequestOrientation()) {
        return;
      }

      const permission = await DeviceOrientationEvent.requestPermission();

      if (permission === 'granted') {
        this.$store.dispatch('analyticsEventHit', {
          category: 'ONBOARDING', action: 'Click', event: 'Click on OK', label: 'OK', value: 'Orientation',
        });
        this.$store.dispatch('setViewByName', 'car-selection');
      } else {
        this.$store.dispatch('analyticsEventHit', {
          category: 'ONBOARDING', action: 'Click', event: "Click on Don't Allow", label: "Don't Allow", value: 'Orientation',
        });
        this.$store.dispatch('setViewByName', 'permissions-disabled');
      }
    },
    async getIOSDeviceMotion() {
      if (!this.canRequestMotion()) {
        return;
      }

      const permission = await DeviceMotionEvent.requestPermission();

      if (permission === 'granted') {
        this.$store.dispatch('analyticsEventHit', {
          category: 'ONBOARDING', action: 'Click', event: 'Click on OK', label: 'OK', value: 'Motion',
        });
        this.$store.dispatch('setViewByName', 'car-selection');
      } else {
        this.$store.dispatch('analyticsEventHit', {
          category: 'ONBOARDING', action: 'Click', event: "Click on Don't Allow", label: "Don't Allow", value: 'Motion',
        });
        this.$store.dispatch('setViewByName', 'permissions-disabled');
      }
    },
  },
};
</script>
