<template>
  <div class="view view--permission view--backimg" :class="{'is-active': isActive}">
    <div class="view__wrap">
      <div class="view__text">
        <p class="permission">
          Provide access to your microphone to interact with the BMW chatbot.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import ComponentMixin from '@/components/ComponentMixin.vue';

export default {
  name: 'PermissionsMicroComponent',
  extends: ComponentMixin,
  mounted() {
    this.$store.dispatch('checkPreviusMicrophonePermissions');
  },
  computed: {
    hasMicroPermission() {
      return this.$store.getters.hasMicroPermission;
    },
  },
  watch: {
    hasMicroPermission(hasPermission) {
      if (hasPermission === null) {
        this.$store.dispatch('getMicrophonePermissions');
      } else if (!hasPermission) {
        this.$store.dispatch('setViewByName', 'permissions-disabled');
      } else {
        this.$store.dispatch('setViewByName', 'permissions-motion');
      }
    },
  },
};
</script>
