<template>
  <div class="view view--permission view--backimg" :class="{'is-active': isActive}">
    <div class="view__wrap">
      <div class="view__text">
        <p class="permission">
          Provide access to your camera for the full augmented reality experience.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import ComponentMixin from '@/components/ComponentMixin.vue';

export default {
  name: 'PermissionsCameraComponent',
  extends: ComponentMixin,
  mounted() {
    this.$store.dispatch('checkPreviusCameraPermissions');
  },
  computed: {
    hasCameraPermission() {
      return this.$store.getters.hasCameraPermission;
    },
  },
  watch: {
    hasCameraPermission(hasPermission) {
      if (hasPermission === null) {
        this.$store.dispatch('getCameraPermissions');
      } else if (!hasPermission) {
        this.$store.dispatch('setViewByName', 'permissions-disabled');
      } else {
        this.$store.dispatch('setViewByName', 'permissions-micro');
      }
    },
  },
};
</script>
