<template>
  <div class="camera-icon-root">
    <svg
      xmlns:dc="http://purl.org/dc/elements/1.1/"
      xmlns:cc="http://creativecommons.org/ns#"
      xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns="http://www.w3.org/2000/svg"
      width="100"
      height="100"
      viewBox="0 0 99.999996 99.999996"
      version="1.1"
      id="svg38"
    >
      <metadata id="metadata9">
        <rdf:RDF>
          <cc:Work rdf:about="">
            <dc:format>image/svg+xml</dc:format>
            <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
            <dc:title></dc:title>
          </cc:Work>
        </rdf:RDF>
      </metadata>
      <defs id="defs7" />
      <path
        style="fill: #ffffff"
        id="path2"
        d="m 28.533033,71.858847 a 4.517,4.517 0 0 1 -4.524,-4.53 V 38.858842 a 4.517,4.517 0 0 1 4.525,-4.529 h 10.988 l 3.231,-6.471 h 15.512 l 3.232,6.471 h 10.987004 a 4.517,4.517 0 0 1 4.525,4.529 v 28.470005 a 4.517,4.517 0 0 1 -4.525,4.53 z m 7.11,-18.765005 a 14.923,14.923 0 0 0 14.866,14.882005 14.923,14.923 0 0 0 14.866004,-14.882005 14.924,14.924 0 0 0 -14.866004,-14.882 14.924,14.924 0 0 0 -14.866,14.882 z m 6.463,0 a 8.407,8.407 0 0 1 8.4,-8.412 8.407,8.407 0 0 1 8.4,8.412 8.407,8.407 0 0 1 -8.4,8.412005 8.407,8.407 0 0 1 -8.397,-8.412005 z"
        fill="#bbbbbb"
      />
    </svg>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.camera-icon-root {
  border: 2px solid white;
  border-radius: 100%;
  opacity: 0.6;
  width: 61px;
  height: 60px;
  cursor: pointer;
  color: white;

  svg {
    width: 53px;
    height: 56px;
  }
}
</style>
