<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="21.604"
    height="37.552"
    viewBox="0 0 21.604 37.552"
  >
    <g id="btn_icon_back" transform="translate(-42.125 -36.331)">
      <g id="Group_544" data-name="Group 544" transform="translate(0.33 5.659)">
        <line
          id="Line_64"
          data-name="Line 64"
          x2="15.947"
          y2="15.947"
          transform="translate(44.624 49.448)"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-width="4"
        />
        <line
          id="Line_65"
          data-name="Line 65"
          x1="15.947"
          y2="15.947"
          transform="translate(44.624 33.5)"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-width="4"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {};
</script>
