<template>
  <svg
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
    sodipodi:docname="help.svg"
    inkscape:version="1.0 (1.0+r73+1)"
    id="svg8"
    version="1.1"
    viewBox="0 0 26.458333 26.458334"
    height="100"
    width="100"
  >
    <defs id="defs2" />
    <sodipodi:namedview
      inkscape:window-maximized="1"
      inkscape:window-y="24"
      inkscape:window-x="0"
      inkscape:window-height="993"
      inkscape:window-width="1920"
      units="px"
      showgrid="false"
      inkscape:document-rotation="0"
      inkscape:current-layer="text835"
      inkscape:document-units="mm"
      inkscape:cy="37.575087"
      inkscape:cx="40.697723"
      inkscape:zoom="5.6"
      inkscape:pageshadow="2"
      inkscape:pageopacity="0.0"
      borderopacity="1.0"
      bordercolor="#666666"
      pagecolor="#ffffff"
      id="base"
    />
    <metadata id="metadata5">
      <rdf:RDF>
        <cc:Work rdf:about="">
          <dc:format>image/svg+xml</dc:format>
          <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
          <dc:title></dc:title>
        </cc:Work>
      </rdf:RDF>
    </metadata>
    <g id="layer1" inkscape:groupmode="layer" inkscape:label="Capa 1">
      <g
        style="
          font-style: normal;
          font-weight: normal;
          font-size: 27.9017px;
          line-height: 0;
          font-family: sans-serif;
          letter-spacing: 0px;
          word-spacing: 0px;
          fill: #000000;
          fill-opacity: 1;
          stroke: none;
          stroke-width: 0.264582;
        "
        id="text835"
        aria-label="?"
      >
        <path
          id="path837"
          style="
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            font-stretch: normal;
            font-family: BMWType;
            -inkscape-font-specification: BMWType;
            fill: #ffffff;
            stroke-width: 0.264582;
          "
          d="m 8.6333029,8.0552895 q 1.091735,-3.6916402 4.9296901,-3.6916402 2.27351,0 3.500305,1.3506001 1.001695,1.091735 1.001695,2.8362601 0,1.4293851 -0.664044,2.3522945 -0.664046,0.92291 -2.644926,2.217236 -0.85538,0.56275 -1.069225,0.889145 -0.213845,0.31514 -0.213845,1.046715 v 1.654485 h -0.94542 V 15.0559 q 0,-1.01295 0.31514,-1.46315 0.31514,-0.4502 1.676995,-1.361855 1.48566,-0.99044 2.00339,-1.75578 0.528985,-0.7653404 0.528985,-1.9471155 0,-1.541935 -0.94542,-2.4198251 -0.94542,-0.8778901 -2.599905,-0.8778901 -2.982575,0 -3.9505051,3.0050853 z M 13.529228,19.726725 v 2.374805 h -1.069225 v -2.374805 z"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {};
</script>
