<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="70.151"
    height="69.855"
    viewBox="0 0 70.151 69.855"
  >
    <g id="btn_icon_scale" transform="translate(0.658 0.5)">
      <g id="BTN_ESCALA_grey">
        <g id="Group_545" data-name="Group 545" transform="translate(0.001 0.002)">
          <path
            id="Path_1362"
            data-name="Path 1362"
            d="M49.533,0a2.16,2.16,0,0,0-1.5.634L40.453,8.224a2.143,2.143,0,0,0-.634.634l-7.3,7.3a2.232,2.232,0,0,0-.553.553l-7.332,7.332-.016.008a2.26,2.26,0,0,0-.569.577l-7.308,7.308a2.089,2.089,0,0,0-.626.626l-7.308,7.3a2.415,2.415,0,0,0-.553.561L.631,48.046a2.154,2.154,0,0,0-.008,3.04L17.766,68.23a2.146,2.146,0,0,0,3.04-.016L68.212,20.807a2.159,2.159,0,0,0,0-3.032L51.069.632,50.923.486A2.164,2.164,0,0,0,49.533,0Zm.024,5.2L63.644,19.3,19.278,63.653,5.191,49.566l4.861-4.861,7.373,7.373a2.155,2.155,0,0,0,3.048-3.048L13.1,41.665l4.853-4.853,4.007,4.007a2.158,2.158,0,0,0,3.056-3.048L21,33.764,25.854,28.9l7.365,7.381a2.158,2.158,0,1,0,3.048-3.056L28.9,25.863,33.755,21l4.024,4.024a2.151,2.151,0,1,0,3.162-2.918l-.13-.13L36.8,17.962,41.656,13.1l7.373,7.373a2.153,2.153,0,0,0,3.268-2.8,3.118,3.118,0,0,0-.228-.236L44.7,10.061Z"
            transform="translate(0 0)"
            fill="currentColor"
            stroke="currentColor"
            stroke-width="1"
          />
        </g>
      </g>
    </g>
  </svg>
</template>

<script>
export default {};
</script>
