<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="57.578"
    height="63.366"
    viewBox="0 0 57.578 63.366"
  >
    <g fill="currentColor">
      <g transform="translate(0 0)">
        <path
          d="M66.033,43.8H60.394a9.86,9.86,0,0,0-9.423-7.2,10.11,10.11,0,0,0-9.5,7.2H13.945a2.745,2.745,0,0,0,0,5.491H41.473a9.767,9.767,0,0,0,18.846,0h5.639A2.739,2.739,0,0,0,68.7,46.543,2.631,2.631,0,0,0,66.033,43.8Zm-15.062,7.2a4.465,4.465,0,0,1-4.452-4.452,4.452,4.452,0,1,1,8.9,0A4.465,4.465,0,0,1,50.97,50.995Z"
          transform="translate(-11.2 -14.86)"
        />
        <path
          d="M13.945,19.988h5.862a9.767,9.767,0,0,0,18.846,0H66.033a2.739,2.739,0,0,0,2.745-2.745A2.693,2.693,0,0,0,66.033,14.5H38.653a9.767,9.767,0,0,0-18.846,0H13.945A2.739,2.739,0,0,0,11.2,17.243,2.693,2.693,0,0,0,13.945,19.988Zm15.285-7.2a4.465,4.465,0,0,1,4.452,4.452,4.372,4.372,0,0,1-4.452,4.452,4.465,4.465,0,0,1-4.452-4.452A4.565,4.565,0,0,1,29.23,12.791Z"
          transform="translate(-11.2 -7.3)"
        />
        <path
          d="M66.033,73.1H38.653a9.767,9.767,0,0,0-18.846,0H13.945A2.739,2.739,0,0,0,11.2,75.843a2.693,2.693,0,0,0,2.745,2.745h5.862a9.767,9.767,0,0,0,18.846,0H66.033a2.739,2.739,0,0,0,2.745-2.745A2.693,2.693,0,0,0,66.033,73.1Zm-36.8,7.2a4.465,4.465,0,0,1-4.452-4.452,4.452,4.452,0,1,1,8.9,0A4.465,4.465,0,0,1,29.23,80.295Z"
          transform="translate(-11.2 -22.42)"
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {};
</script>
