<template>
  <div class="tutorial" :class="{'is-active': isActive}">
    <div class="tutorial__step-name">
      {{currentStepCountText}}
      <br />
      <span class="bold">{{currentStepCountInstructions}}</span>
    </div>
    <div class="tutorial__step-img" v-if="currentStep.img">
      <img :src="currentStep.img" :alt="currentStep.text">
    </div>
  </div>
</template>

<script>
import Bus from '@/store/bus/Bus';
import Vue from 'vue';
import { tutorialSteps } from '@/constants';
import ComponentMixin from '@/components/ComponentMixin.vue';

export default {
  name: 'TutorialComponent',
  extends: ComponentMixin,
  data() {
    return {
      currentStepIdx: 0,
    };
  },
  mounted() {
    this.$store.dispatch('WebGLState/showTutorial', 0);
    Bus.$on('onAdvanceTutorial', this.onAdvanceTutorial);
    Bus.$on('onHDCarLoaded', this.disableComponent);
    this.$store.dispatch('disableComponent', 'MuteTooltipConfirm');
  },
  computed: {
    currentStep() {
      return tutorialSteps[this.currentStepIdx];
    },
    currentStepCountText() {
      return `Step ${this.currentStepIdx + 1} out of 4`;
    },
    currentStepCountInstructions() {
      return this.currentStep.text;
    },
    lastIntent() {
      return this.$store.getters.getLastIntent;
    },
    currentAudio() {
      return this.$store.getters['PlayerState/getCurrentAudio'];
    },
  },
  methods: {
    nextStep(stepId) {
      this.currentStepIdx = stepId;
      this.$store.dispatch('launchEvent', this.currentStep.event);
      this.$store.dispatch('WebGLState/showTutorial', stepId);
    },
    onAdvanceTutorial(stepId) {
      if (stepId < tutorialSteps.length) {
        this.$store.dispatch('analyticsEventHit', { ...this.currentStep.analyticsObject });
        this.nextStep(stepId);
      } else {
        this.disableComponent();
      }
    },
    disableComponent() {
      this.$store.dispatch('disableComponent', 'TutorialComponent');
    },
  },
  watch: {
    currentAudio: {
      immediate: true,
      async handler(current) {
        await Vue.nextTick();
        if (current === undefined && (['3.1.1', '3.1.2', '3.1.3', '3.1.e'].includes(this.lastIntent))) {
          this.$store.dispatch('launchEvent', '4_1');
        }
      },
    },
  },
  beforeDestroy() {
    Bus.$off('onAdvanceTutorial', this.onAdvanceTutorial);
    Bus.$off('onHDCarLoaded', this.disableComponent);
    this.$store.dispatch('disableComponent', 'MuteTooltipConfirm');
  },
};
</script>

<style lang="scss">
$tutorial-img-size: 80px;

.column {
  display: flex;
  flex-direction: column;
  top: 20%;
  left: 0;
  position: absolute;
  width: 100%;
}

.tutorial {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  pointer-events: none !important;
  opacity: 0;
  transition: opacity 250ms ease;
  &.is-active {
    opacity: 1;
  }

  &__step-name {
    display: flex;
    flex-direction: column;
    bottom: 19%;
    left: 0;
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    font-size: 18px;
  }

  .bold {
    font-weight: bold;
  }

  &__step-img {
    position: absolute;
    bottom: 30%;
    left: 0;
    width: 100%;
    img {
      width: $tutorial-img-size;
      height: $tutorial-img-size;
      display: block;
      margin: 0 auto;
    }
  }
}
</style>
