<template>
  <div id="app" class="app" @click.stop>
    <LandscapeDisallowedComponent />
    <OutdatedIosVersionComponent v-if="isRunningUnsupportedIos" />
    <NonSafariDisallowedComponent v-if="isOnIosButNotSafari" />

    <ScaleButtonComponent :isActive="scaleButtonVisible" />

    <RecordButtonComponent :isActive="recordButtonVisible" />

    <Subtitles />

    <MainMenuComponent v-if="componentIsActive('MainMenuComponent')" />

    <div class="topnav">
      <div>
        <LogoComponent v-if="componentIsActive('LogoComponent')" />
      </div>
      <div>
        <MuteButtonComponent v-if="muteMenuButtonVisible" />
        <MainMenuButtonComponent v-if="mainMenuButtonVisible" />
      </div>
    </div>

    <MuteTooltipConfirm v-if="componentIsActive('MuteTooltipConfirm')" />
    <TutorialComponent v-if="componentIsActive('TutorialComponent')" />

    <ModelLoadingIndicator v-if="componentIsActive('ModelLoadingIndicator')" />
    <WhiteOverlayLoadingIndicator :isActive="componentIsActive('WhiteOverlayLoadingIndicator')" />

    <ModalComponent v-if="componentIsActive('ModalComponent')" />

    <SettingsButtonComponent v-if="settingsButtonVisible" />

    <InfoPanel v-if="componentIsActive('InfoPanel')" />

    <BottomMenuComponent v-if="componentIsActive('BottomMenuComponent')" />

    <ExternalLink v-if="componentIsActive('ExternalLink')" />

    <TakePhoto v-if="componentIsActive('TakePhoto')" />

    <TopGradientComponent v-if="componentIsActive('TopGradientComponent')" />

    <BottomGradientComponent v-if="componentIsActive('BottomGradientComponent')" />

    <DevMenuComponent v-if="isDevMenuActive()" />

    <LegalTermsComponent :isActive="componentIsActive('LegalTermsComponent')"/>

    <component v-if="view.view" v-bind:is="view.view" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import Bus from '@/store/bus/Bus';
import isMobile from 'ismobilejs';
import MobileDetect from 'mobile-detect';

import LogoComponent from '@/components/logo/LogoComponent.vue';
import Subtitles from '@/components/subtitles/Subtitles.vue';
import LandscapeDisallowedComponent from '@/components/views/LandscapeDisallowedComponent.vue';
import NonSafariDisallowedComponent from '@/components/views/NonSafariDisallowedComponent.vue';

import WhiteOverlayLoadingIndicator from '@/components/loading/WhiteOverlayLoadingIndicator.vue';
import ModelLoadingIndicator from '@/components/loading/ModelLoadingIndicator.vue';

import ScaleButtonComponent from '@/components/button-scale/ScaleButtonComponent.vue';
import SettingsButtonComponent from '@/components/button-settings/SettingsButtonComponent.vue';
import RecordButtonComponent from '@/components/button-record/RecordButtonComponent.vue';
import MuteButtonComponent from '@/components/button-mute/MuteButtonComponent.vue';
import MuteTooltipConfirm from '@/components/button-mute/MuteTooltipConfirm.vue';
import MainMenuButtonComponent from '@/components/button-mainmenu/MainMenuButtonComponent.vue';

import DevMenuComponent from '@/components/menu-dev/DevMenuComponent.vue';
import MainMenuComponent from '@/components/menu-main/MainMenuComponent.vue';
import BottomMenuComponent from '@/components/menu-bottom/BottomMenuComponent.vue';
import InfoPanel from '@/components/info-panel/InfoPanel.vue';

import TopGradientComponent from '@/components/gradient-top/TopGradientComponent.vue';
import BottomGradientComponent from '@/components/gradient-bottom/BottomGradientComponent.vue';
import ExternalLink from '@/components/external-link/ExternalLink.vue';
import TakePhoto from '@/components/take-photo/TakePhoto.vue';
import ModalComponent from '@/components/modal/ModalComponent.vue';
import TutorialComponent from '@/components/tutorial/TutorialComponent.vue';
import LegalTermsComponent from '@/components/legal-terms/LegalTermsComponent.vue';

import HomeComponent from '@/components/views/HomeComponent.vue';
import PermissionsCameraComponent from '@/components/permissions/PermissionsCameraComponent.vue';
import PermissionsMotionComponent from '@/components/permissions/PermissionsMotionComponent.vue';
import PermissionsMicroComponent from '@/components/permissions/PermissionsMicroComponent.vue';
import PermissionsDisabledComponent from '@/components/permissions/PermissionsDisabledComponent.vue';
import PermissionsDesktopComponent from '@/components/permissions/PermissionsDesktopComponent.vue';
import CarSelectionComponent from '@/components/views/CarSelectionComponent.vue';
import MainViewComponent from '@/components/views/MainViewComponent.vue';
import OutdatedIosVersionComponent from '@/components/views/OutdatedIosVersionComponent.vue';

export default {
  name: 'App',
  components: {
    LogoComponent,
    Subtitles,
    LandscapeDisallowedComponent,
    NonSafariDisallowedComponent,

    ScaleButtonComponent,
    SettingsButtonComponent,
    RecordButtonComponent,
    MuteButtonComponent,
    MuteTooltipConfirm,

    WhiteOverlayLoadingIndicator,
    ModelLoadingIndicator,

    DevMenuComponent,
    MainMenuButtonComponent,
    MainMenuComponent,
    BottomMenuComponent,
    InfoPanel,

    TopGradientComponent,
    BottomGradientComponent,
    ExternalLink,
    TakePhoto,
    ModalComponent,
    TutorialComponent,
    LegalTermsComponent,

    HomeComponent,
    PermissionsCameraComponent,
    PermissionsMotionComponent,
    PermissionsMicroComponent,
    PermissionsDisabledComponent,
    PermissionsDesktopComponent,
    CarSelectionComponent,
    MainViewComponent,
    OutdatedIosVersionComponent,
  },

  beforeCreate() {
    const isPhoneUserAgent = isMobile(navigator).any;
    const isDesktopAllowed = process.env.VUE_APP_ALLOW_DESKTOP === 'true';
    const isAllowedByUrlParam = new URLSearchParams(window.location.search).has('enableDesktop');

    if (isPhoneUserAgent || isDesktopAllowed || isAllowedByUrlParam) {
      this.$store.dispatch('setStartView');
    } else {
      this.$store.dispatch('setViewByName', 'permissions-desktop');
    }
  },
  created() {
    this.$store.dispatch('enableComponent', 'DevMenuComponent');
    this.$store.dispatch('enableComponent', 'LogoComponent');
  },
  mounted() {
    window.addEventListener('focus', this.onWindowFocus);
    window.addEventListener('blur', this.onWindowBlur);
    this.onWindowFocus();
    Bus.$on('showExternalLink', (payload) => {
      this.showExternalLink(payload);
    });
  },

  beforeDestroy() {
    window.removeEventListener('focus', this.onWindowFocus);
    window.removeEventListener('blur', this.onWindowBlur);
    Bus.$off('showExternalLink');
  },
  computed: {
    ...mapGetters([
      'muteMenuButtonVisible',
      'mainMenuButtonVisible',
      'recordButtonVisible',
      'scaleButtonVisible',
      'settingsButtonVisible',
      'waitingForResponseLoadingIndicatorVisible',
    ]),

    view() {
      return this.$store.getters.getCurrentView;
    },
    components() {
      return this.$store.getters.getCurrentComponents;
    },
    canPlay() {
      return this.$store.getters['PlayerState/canPlay'];
    },
    isConfiguringRealScale() {
      return this.$store.getters['WebGLState/getIsConfiguringRealScale'];
    },
    isRunningUnsupportedIos() {
      const mobileDetect = new MobileDetect(window.navigator.userAgent);
      const isIos = mobileDetect.os() === 'iOS';
      if (isIos) {
        const iosVersion = mobileDetect.version('Version');
        if (iosVersion < 13) {
          return true;
        }
      }

      return false;
    },
    isOnIosButNotSafari() {
      const mobileDetect = new MobileDetect(window.navigator.userAgent);
      const isIos = mobileDetect.os() === 'iOS';
      if (isIos) {
        const userAgent = mobileDetect.userAgent();
        if (userAgent !== 'Safari') {
          return true;
        }
      }

      return false;
    },
  },
  methods: {
    componentIsActive(component) {
      return this.components.includes(component);
    },
    isDevMenuActive() {
      const shouldDisplayDevMenu = process.env.VUE_APP_DISPLAY_DEV_MENU === 'true';
      return shouldDisplayDevMenu && this.componentIsActive('DevMenuComponent');
    },
    onWindowFocus() {
      this.$store.dispatch('setWindowHasFocus', true);
    },
    onWindowBlur() {
      this.$store.dispatch('setWindowHasFocus', false);
    },
    showExternalLink(payload) {
      this.$store.dispatch('setComponentContent', {
        component: 'ExternalLink',
        content: payload,
      });
      this.$store.dispatch('enableComponent', 'ExternalLink');
    },
  },
  watch: {
    canPlay: {
      immediate: true,
      handler(canPlay) {
        if (canPlay) {
          this.$store.dispatch('PlayerState/resume');
        } else {
          this.$store.dispatch('PlayerState/pause');
        }
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.app {
  height: 100%;
  position: relative;
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999999;
  padding: 28px 26px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 370px) {
  .topnav {
    padding: 20px 20px 0;
  }
}

</style>
