<template>
  <div class="root">
    <div class="counter" v-if="isCounterVisible">
      {{count}}
    </div>
  </div>
</template>

<script>
export default {
  name: 'TakePhoto',
  data() {
    return {
      count: 3,
      countIntervalId: null,
      times: {
        countDelay: 1000,
        delaySoTheSecondAudioPlaysOnIOS: 1000,
      },
    };
  },
  computed: {
    isCounterVisible() {
      return this.count > 0;
    },
    selectedModel() {
      return this.$store.getters.getSelectedModel;
    },
    lastIntent() {
      return this.$store.getters.getLastIntent;
    },
  },
  mounted() {
    if (this.lastIntent !== '15.2.1') {
      this.$store.dispatch('launchEvent', '15_2_1');
    }
    this.$store.dispatch('JourneyState/markStepAsSeen', 'takephoto');
    this.$store.dispatch('disableComponent', 'SettingsButtonComponent');
    this.$store.dispatch('disableComponent', 'ScaleButtonComponent');

    this.countIntervalId = setInterval(() => {
      this.count -= 1;
      if (this.count === 0) {
        clearInterval(this.countIntervalId);
        this.countIntervalId = null;
      }
    }, this.times.countDelay);
  },
  methods: {
    saveImage() {
      const downloadLink = document.getElementById('photodownload');
      const canvas = document.getElementById('camerafeed');
      const img = canvas.toDataURL('image/png').replace('image/png', 'image/octet-stream');
      downloadLink.setAttribute('download', `${this.selectedModel.name}.png`);
      downloadLink.setAttribute('href', img);
      downloadLink.click();
      this.$store.dispatch('analyticsEventHit', {
        category: 'DISCOVERY', action: 'Click', event: 'Snap Photo', label: 'Photo',
      });
    },
    exit() {
      setTimeout(() => {
        this.$store.dispatch('setComponentContent', {
          component: 'ModalComponent',
          content: 'ModalSavedPhoto',
        });
        this.$store.dispatch('enableComponent', 'ModalComponent');
        this.$store.dispatch('enableComponent', 'SettingsButtonComponent');
        this.$store.dispatch('enableComponent', 'ScaleButtonComponent');
        this.$store.dispatch('disableComponent', 'TakePhoto');
      }, this.times.delaySoTheSecondAudioPlaysOnIOS);
    },
  },
  watch: {
    count(value) {
      if (value === 0) {
        setTimeout(() => {
          this.saveImage();
          this.exit();
        }, this.times.countDelay);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  z-index: 99999;
}

.counter {
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: rgba(255, 255, 255, 0.1);
  margin: 0 auto;
  text-align: center;
  border-radius: 100%;
  border: 3px solid white;
  font-size: 34px;
}
</style>
