<template>
  <div class="topgradient" :class="{'is-active': isActive}"></div>
</template>

<script>
import ComponentMixin from '@/components/ComponentMixin.vue';

export default {
  name: 'TopGradientComponent',
  extends: ComponentMixin,
};
</script>

<style lang="scss">
.topgradient {
  width: 100%;
  height: 88px;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
  pointer-events: none;
  z-index: 9999;
  opacity: 0;
  transition: opacity 250ms ease;
  &.is-active {
    opacity: 1;
  }
}
</style>
